// Let's scope typography with .gov-uk for now
.gov-uk {
  
  // Increase default font size to 19px
  @include core-19;
  -webkit-font-smoothing: antialiased;
  
  // Let's set a max-width for text blocks
  // 50-60 characters per line of text
  .text {
    max-width: 30em;
  }
  
  // ==========================================================================
  // Typography
  // ==========================================================================
  
  h1,
  .heading-48 {
    @include bold-48();
    margin-top: $gutter-half;
    margin-bottom: $gutter;
    @include media(tablet) {
      margin-top: $gutter;
      margin-bottom: $gutter*2;
    }
    span,
    .document-type {
      display: block;
      @include core-27();
      color: $secondary-text-colour;
    }
  }
  
  h2,
  .heading-36 {
    @include bold-36();
    margin-top: 25px;
    margin-bottom: 10px;
    @include media(tablet) {
      margin-top: 45px;
      margin-bottom: 20px;
    }
  }
  
  h3,
  .heading-24 {
    @include bold-24();
    margin-top: 25px;
    margin-bottom: 10px;
    @include media(tablet) {
      margin-top: 45px;
      margin-bottom: 20px;
    }
  }
  
  h4,
  .heading-19 {
    @include bold-19();
    margin-top: 10px;
    margin-bottom: 5px;
    @include media(tablet) {
      margin-top: 20px;
    }
  }
  
  p, 
  pre {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .intro {
    margin-bottom: $gutter;
  }
  
  // Data
  .data-80 {
    @include bold-80;
    line-height: 0.4;
  }
  
  .data-48 {
    @include bold-48;
    line-height: 0.2;
  }
  
  .data p {
    @include bold-16;
  }
  
  
  // ==========================================================================
  // Lists
  // ==========================================================================
  
  dl,
  menu,
  ol,
  ul {
    margin: 0;
  }
  
  dd {
    margin-left: 0;
  }
  
  menu,
  ol,
  ul {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
  }
  
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  
  ul li,
  ol li {
    margin-bottom: 5px;
  }
  
  
  // ==========================================================================
  // Forms
  // ==========================================================================
  
  form {
    margin: 0;
  }
  
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  
  button,
  input {
      line-height: normal;
  }
  
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select[size],
  textarea {
    padding: 2px 4px;
    background-color: #FFFFFF;
    border: 2px inset;
    @include ie-lte(8) {
      border: 1px inset $border-colour; 
    }
    font-size: 1em;
    
    // Disable webkit appearance and remove rounded corners
    -webkit-appearance: none;
    border-radius: 0;
  }
  
  textarea {
    min-height: 10em;
    height: auto;
  }
  
  .form-control {
    min-width: 96%;
    @include media(tablet) {
      min-width: 18em;
    }
  }
  
  .form-group {
    margin-bottom: $gutter-half;
    @include media(tablet) {
      margin-bottom: $gutter;
    }
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
}
// End .gov-uk scope


// ==========================================================================
// Grid layout
// ==========================================================================

.main {
  max-width: 1020px;
  width: auto;
  margin: 0 auto 90px;
}


// Wrap grid layout
.grid-wrapper {
  @extend %contain-floats;
  padding: 0 $gutter-half;
  @include media(tablet) {
    padding: 0 $gutter-half;
  }
}

// Grid units take 100% width, unless a .grid-width class is applied
.grid {
  float: left;
  width: 100%;
}

.grid .inner-block {
  @include media(tablet) {
    padding: 0 $gutter-half;
  }
}

// Grid unit widths
.grid-1-4 {
  width: 100%;
  @include media(tablet) {
    width: 25%;
  }
}

.grid-1-3 {
  width: 100%;
  @include media(tablet) {
    width: 33.333333333%;
  }
}

.grid-1-2 {
  width: 100%;
  @include media(tablet) {
    width: 50%;
  }
}

.grid-2-3 {
  width: 100%;
  @include media(tablet) {
    width: 66.666666667%;
  }
}

.grid-3-4 {
  width: 100%;
  @include media(tablet) {
    width: 75%;
  }
}


// ==========================================================================
// Colours
// ==========================================================================

.text-secondary {
  color: $secondary-text-colour;
}


// ==========================================================================
// Helper classes
// ==========================================================================

.is-space {
  margin-bottom: $gutter;
}

.is-double-space {
  margin-bottom: $gutter*2;
}

.cf {
  @extend %contain-floats;
}


