[submodule "patterns/assets/govuk_frontend_toolkit"]
	path = patterns/assets/govuk_frontend_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
[submodule "example/assets/govuk_toolkit"]
	path = example/assets/govuk_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
[submodule "example/assets/govuk_frontend_toolkit"]
	path = example/assets/govuk_frontend_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
