// Prevent the Pattern Library styles overriding any default template or frontend_toolkit styles

// Pattern Library - Example box

.example {
   @extend %contain-floats;
   
   border: 1px solid #bfc1c3;
   outline: 20px solid #f8f8f8;
   margin: 30px $gutter-half 60px $gutter-half;
   padding: 30px;
   overflow: hidden;
   
   .example-url {
      display: inline-block;
      margin-top: $gutter;
   }
   .example-url:before {
      content: "Example: ";
   }
}

.example-compare {
   width: 50%;
   float: left;
}

// Pattern Library - header

.pattern-header {
  @extend %contain-floats;
  padding: $gutter-half 0;
  @include media(tablet) {
    padding: $gutter 0;
  }
  margin-bottom: $gutter;
  .title {
    float: left;
    width: $two-thirds;
    h1, p {
      padding: 0 $gutter-half;
    }
    h1 {
      @include core-48;
      font-weight: bold;
    }
    p {
      @include core-36;
      color: $secondary-text-colour;
    }
  }
}

// Pattern Library - Guide text

.section-header {
   border-bottom: 5px solid #000;
   margin-bottom: $gutter;
   
   h2 {
      @include bold-36;
      padding-bottom: 10px;
   }
}

.section-title {
   @include bold-24;
   margin-bottom: $gutter-half;
}

.section-text {
   @include copy-19;
   margin: $gutter 0 $gutter 0;
}

// Let's create styles for all the mixins in the front-end toolkit _typography.css file

.design-patterns {
   
   // Typography
   
   // CORE FONTS - NEW TRANSPORT
   
   // Regular
   .core-80 {
      @include core-80;
   }
   .core-48 {
      @include core-48;
   }
   .core-36 {
      @include core-36;
   }
   .core-27 {
      @include core-27;
   }
   .core-24 {
      @include core-24;
   }
   .core-19 {
      @include core-19;
   }
   .core-16 {
      @include core-16;
   }
   .core-14 {
      @include core-14;
   }
   
   // Bold
   .bold-80 {
      @include bold-80;
   }
   .bold-48 {
      @include bold-48;
   }
   .bold-36 {
      @include bold-36;
   }
   .bold-27 {
      @include bold-27;
   }
   .bold-24 {
      @include bold-24;
   }
   .bold-19 {
      @include bold-19;
   }
   .bold-16 {
      @include bold-16;
   }
   .bold-14 {
      @include bold-14;
   }
   
   // Heading
   .heading-80 {
      @include heading-80;
   }
   .heading-48 {
      @include heading-48;
   }
   .heading-36 {
      @include heading-36;
   }
   .heading-27 {
      @include heading-27;
   }
   .heading-24 {
      @include heading-24;
   }
   
   // Copy
   .copy-19 {
      @include copy-19;
   }
   .copy-16 {
      @include copy-16;
   }
   .copy-14 {
      @include copy-14;
   }
   
   .copy-16-tight {
      line-height: 0.7;
      padding: 0;
   }
   
   .space-15 {
      margin-bottom: $gutter-half+5;
   }
   
   // External links
   .external-link-heading {
     @include external-link-heading;
   }
   
   .external-link-default {
     @include external-link-default;
   }
   
   .external-link-19 {
     @include external-link-19;
   }
   
   .external-link-16 {
     @include external-link-16;
   }
   
   .external-link-14 {
     @include external-link-14;
   }
   
   .external-link-13 {
     @include external-link-13;
   }
   
   .external-link-12 {
     @include external-link-12;
   }
   
   // Colours
   
   .text-secondary {
      color: $secondary-text-colour;
   }
   
   // Spacing
   // Let's create consistent spacing between content blocks
   // Since we're using .group to clear, we can re-use this for now
   
}
