// Prevent the Design Guide styles overriding any gov.uk template or frontend_toolkit styles

// Design Guide - Layout

.main {
   max-width: 1020px;
   width: auto;
   margin: 0 auto 90px;
}

// Design Guide - Header

.pattern-header {
   @extend %contain-floats;
   padding: $gutter-half 0;
   @include media(tablet) {
      padding: $gutter 0;
   }
   margin-bottom: $gutter;
   .title {
      float: left;
      width: $two-thirds;
      h1, p {
         padding: 0 $gutter-half;
      }
      h1 {
         @include core-48;
         font-weight: bold;
      }
      p {
         @include core-36;
         color: $secondary-text-colour;
      }
   }
}

// Design Guide - Nav

.guide-nav {
   border-top: 5px solid #0b0c0c;
   padding-top: $gutter-half;
   padding-left: $gutter-half;
   list-style: none;
}

.guide-nav ul {
   padding-left: $gutter-half;
}

// Design Guide - Explanatory sections

.guide-header {
   @include heading-27;
   font-weight: 700;
   margin-bottom: 0;
}

.guide-subheader {
   @include heading-24;
   font-weight: 700;
}

// Scoped text styles

.guide {
   
   margin-bottom: $gutter;
   
   p {
      @include copy-19;
      margin: $gutter-half 0;
      @include media(tablet) {
         max-width: 85%;
      }
   }
   
   .lede {
      @include heading-24;
      margin: 0 0 $gutter-half 0;
      @include media(tablet) {
         max-width: 85%;
      }
   }
   
   .note {
      @include copy-16;
      margin: $gutter-half 0;
   }
   
}


// Design Guide - Examples

.example {
   @extend %contain-floats;
   
   border: 1px solid #bfc1c3;
   outline: 20px solid #f8f8f8;
   margin: $gutter*1.5 0 $gutter*2 0;
   padding: $gutter-half 0;
   @include media(tablet) {
      padding: $gutter $gutter-half;
   }
   overflow: hidden;
   
   .example-url {
      margin-top: $gutter;
   }
   .example-url:before {
      content: "Example: ";
   }
   
   .button {
      margin-bottom: $gutter-half;
   }
   
   .swatch {
      width: $gutter*2;
      height: $gutter*2;
      display: inline-block;
      margin-right: $gutter;
      margin-top: $gutter-half;
   }
   
   // Highlight for sizes & info
   em {
      font-style: normal;
      color: $hm-government;
   }
   
   img {
      max-width: 100%;
      vertical-align: top;
   }
}

// Design Guide - More information

.more {
   margin-top: -($gutter-half);
   margin-bottom: $gutter*2;
   padding-left: $gutter-half;
}
.more[open] {
   margin-top: -($gutter-half);
   margin-bottom: $gutter*2;
}
.more summary {
   margin-left: -19px;
}
.more p,
.more a {
   margin: $gutter-half;
}
.more a {
   display: inline-block;
   @include copy-16;
}


// Create a set of helper styles, using mixins provided by the gov.uk front-end toolkit
// Also create additional styles required to create a gov.uk service

// Typography

// CORE FONTS - NEW TRANSPORT

// Regular
.core-80 {
   @include core-80;
}
.core-48 {
   @include core-48;
}
.core-36 {
   @include core-36;
}
.core-27 {
   @include core-27;
}
.core-24 {
   @include core-24;
}
.core-19 {
   @include core-19;
}
.core-16 {
   @include core-16;
}
.core-14 {
   @include core-14;
}

// Bold text
.bold-80 {
   @include bold-80;
}
.bold-48 {
   @include bold-48;
}
.bold-36 {
   @include bold-36;
}
.bold-27 {
   @include bold-27;
}
.bold-24 {
   @include bold-24;
}
.bold-19 {
   @include bold-19;
}
.bold-16 {
   @include bold-16;
}
.bold-14 {
   @include bold-14;
}

.heading-48 {
   @include heading-48;
}
.heading-36 {
   @include heading-36;
}
.heading-27 {
   @include heading-27;
}
.heading-24 {
   @include heading-24;
}

// Use these to show where new font styles are required
.heading-bold {
   font-weight: 700;
}

// Copy
.copy-19 {
   @include copy-19;
}
.copy-16 {
   @include copy-16;
}
.copy-14 {
   @include copy-14;
}

// Use these to show where new font styles are required
.copy-bold {
   font-weight: 700;
}


// Tabular numbers 


// External links
.external-link-heading {
  @include external-link-heading;
}

.external-link-default {
  @include external-link-default;
}

.external-link-19 {
  @include external-link-19;
}

.external-link-16 {
  @include external-link-16;
}

.external-link-14 {
  @include external-link-14;
}

.external-link-13 {
  @include external-link-13;
}

.external-link-12 {
  @include external-link-12;
}

// Link colours

.link {
   color: $link-colour;
}
.link-hover {
   color: $link-hover-colour;
}
.link-visited {
   color: $link-visited-colour;
}

// Colour palette

.colour-hm-government {
   background: $hm-government;
}

.colour-nhs {
   background: $department-of-health;
}

// Text colours

.text-secondary {
   color: $secondary-text-colour;
}

// Buttons

.button {
  @include button;
  @include core-19;
}

.button-secondary {
  @include button($grey-3);
  @include core-19;
}

.button-warning {
  @include button($red);
  @include core-19;
}

// Grid layout

.grid-page {
   padding: 0 15px;
}

.grid-wrapper {
   @extend %contain-floats;
}

.grid {
   float: left;
}

.grid .inner-block {
   padding: 0 $gutter-half;
}

.grid-1-4 {
   width: $full-width;
   @include media(tablet) {
      width: 25%;
   }
}

.grid-1-3 {
   width: $full-width;
   @include media(tablet) {
      width: $one-third;
   }
}

.grid-1-2 {
   width: $full-width;
   @include media(tablet) {
      width: $half;
   }
}

.grid-2-3 {
   width: $full-width;
   @include media(tablet) {
      width: $two-thirds;
   }
}

.grid-3-4 {
   width: $full-width;
   @include media(tablet) {
      width: 75%;
   }
}

// Grid layout - example styles to highlight

.grid-example {
   background: white;
}

.grid-example p {
   width: 100%;
   background: url("../images/grid.png") 0 0 repeat;
   min-height: 60px;
   overflow: hidden;
   text-indent: -99em;
}