main.pattern {
  header {
    @extend %contain-floats;
    padding: $gutter-half 0;
    @include media(tablet){
      padding: $gutter 0;
    }

    .title {
      float: left;
      width: $two-thirds;

      h1, p {
        padding: 0 $gutter-half;
      }
      h1 {
        @include core-48;
        font-weight: bold;
      }
      p {
        @include core-36;
        color: $secondary-text-colour;
      }
    }
  }

  .navigation {
    @include media(tablet){
      float: left;
      width: 25%;
    }
    h2 {
      @include core-16;
      @include media(tablet){
        padding-top: 40px;
      }
    }

    ol {
      list-style: none;
      padding-left: 15px;

      li {
        @include core-16;
        padding-bottom: 5px;
        @include media(tablet){
          padding: 5px 0;
        }

        &:before {
          content: "-";
          position: relative;
          float: left;
          width: 15px;
          margin-left: -15px;
        }
      }
    }
  }

  .content {
    @include media(tablet){
      width: 75%;
      float: left;
    }

    h2 {
      border-bottom: 1px solid;
      @include heading-36;
      font-weight: bold;
      margin: $gutter-half 0;
    }
    h3 {
      @include heading-24;
      font-weight: bold;
      margin: $gutter-half 0 $gutter-third;
    }    
    h4 {
      @include copy-19;
      font-weight: bold;
      margin: $gutter-half 0 $gutter-third;
    }
    p {
      @include copy-19;
      margin: $gutter-third 0;
    }
    p code {
        font-size: 13px;
        color: $black;
        background-color: $highlight-colour;
        border: 1px solid $border-colour;
        line-height: 19px;
        overflow: auto;
        padding: 0.3em 0.5em;
        white-space: nowrap;
    }
    strong{
      font-weight: bold;
    }
    ol{
      list-style-type: decimal;
    }
    li {
      @include copy-19;
    }
    .pattern-example,
    .html-example{
      @extend %contain-floats;
      border: 1px solid $border-colour;
      outline: 20px solid $highlight-colour;
      margin: 40px 0 50px 0;
      padding: $gutter;
      padding-bottom: 10px;
      overflow: hidden;
      position: relative;
      figcaption{
        border-top: 1px solid $border-colour;
        padding: 10px 5px 0 20px;
        margin: 0 -30px;
      }
    }
    .html-example{
      code{
        margin-top: -20px;
        margin-left: -70px;
        display: block;
      }
    }

    .code-links{
      @extend %contain-floats;
      float: right;
      dt, dd{
        float: left;
        margin-right: 10px;
      }
    }
  }

  .related{
    padding: 0 15px;
    @include media(tablet){
      width: 25%;
      float: left;
      padding: 10px 30px;
      box-sizing: border-box;
    }
    .actions{
      margin: $gutter 0;
      list-style-type: none;
      li{
        @include bold-19;
        margin-bottom: $gutter-third;
      }
    }
    .metadata{
      border-top: 5px solid $black;
      padding-top: $gutter-two-thirds;
      dd{
        @include bold-24;
        margin-bottom: $gutter-third;
      }
    }
  }

}

// Github banner

.ribbon {
  background-color: $grass-green;
  overflow: hidden;
  position: absolute;
  right: -50px;
  top: 40px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 50px;
}
