main.transaction-1 {

  .content {
    width: 100%;

    h2 {
      @include heading-24;
      font-weight: bold;
      margin-bottom: $gutter-half;
    }
    h3 {
      @include heading-24;
      font-weight: bold;
      margin: $gutter-half 0 $gutter-third;
    }
    p {
      @include copy-19;
      margin: $gutter-third 0;
    }
  }
}
