main.transaction-3 {

  .progress-indicator.horizontal{
    margin-top: -30px;
    ul{
      border-top: none;
    }
  }

  .content {

    h2 {
      @include heading-24;
      font-weight: bold;
      margin-bottom: $gutter-half;
    }
    h3 {
      @include heading-24;
      font-weight: bold;
      margin: $gutter-half 0 $gutter-third;
    }
    p {
      @include copy-19;
      margin: $gutter-third 0;
    }
  }
}
