/* line 2, ../../sass/govuk-helper/typography-general.scss */
p,
pre {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* line 10, ../../sass/govuk-helper/typography-general.scss */
.text {
  max-width: 30em;
}

/* line 19, ../../sass/govuk-helper/typography-general.scss */
.design-pattern h1,
.design-pattern h2,
.design-pattern h3,
.design-pattern p,
.design-pattern ul,
.design-pattern ol {
  max-width: 30em;
}

/* line 23, ../../sass/govuk-helper/typography-general.scss */
.design-pattern .example ol {
  max-width: 100%;
}
