/* line 1, ../../sass/design-guide/example-images.scss */
.example-images {
  padding-left: 0;
  padding-right: 0;
}

/* line 6, ../../sass/design-guide/example-images.scss */
.example-images img {
  max-width: 100%;
  vertical-align: top;
}
