.header-proposition #proposition-name {
  a {
    color: #fff;
    float: left;
  }
  .alpha {
    @include phase-tag;
  }
}
.phase-banner {
  @include phase-banner;
}
#content {
  @extend %contain-floats;
  max-width: 1020px;
  width: auto;
  margin: 0 auto 3*$gutter;
}
