
// Reduce width of postcode input
.form .postcode {
  width: 100px;
}

// Address finder
.address-finder label {
  padding-top: 10px;
}
.address-finder .postcode {
  float: left;
  margin-right: $gutter-half;
}