// =======================================================
// PROGRESS INDICATOR

.progress-indicator{
  &.compact{
    margin: $gutter 0 0 $gutter;
    color: $secondary-text-colour;
  }
  &.horizontal,
  &.vertical{
    margin-bottom: $gutter;
    @include core-19;  
    @include media(mobile) {
      padding-left: $gutter-two-thirds;
    }
    ol, ul{
      @extend %contain-floats;
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-color: $border-colour;
      list-style-type: none;
      //margin: 0 0 0 $gutter;
      padding: 0;
      @include media(mobile) {
        margin: 0;
      }
    }
    li{
      float: left;
      margin: 0 $gutter-two-thirds -1px 0;
      padding: 10px 0 5px 0;
      color: $secondary-text-colour;  
      border-bottom: 5px solid transparent;    
      a{
        display: block;
        text-decoration: none;
        &:hover{
        color: $link-colour;
        text-decoration: underline;
        }
      } 
      &.active{
        border-bottom: 5px solid $text-colour;
        color: $text-colour;
        a{
          color: $text-colour;
        }

        @include media(mobile) {
          border: 0;
          font-weight: bold;
        }
      }
      span{
        float: right;
        @include core-16;
      }
      @include media(mobile) {
        width: 100%;
        margin-left: 0;
      }
      &.done{
        span{

          font-weight: bold;
          color: $green;
          /*

          text-indent: -9999px;
          margin-right: 5px;
          margin-left: -16px;
          width: 5px;
          margin-top: -23px;
          height: 10px;
          border-right: 3px solid;
          border-bottom: 3px solid;
          border-color: $green;
          -webkit-transform: rotate(45deg);
          position: absolute;
          */
        }
      }
    }
  }
  &.horizontal{
    li.done span{
      display: none;
    }
  }
  &.vertical{
    width: 25%;
    float: left;
    li{
      float: none;
      margin-right: 0;
      &.done{
        span{
          position: relative;
          margin-top: 3px;
        }
      }
    }
  }
}    