// =======================================================
// Progressive disclosure

/* Example use:
    <details>
      <summary>Wanna know more?</sumary>
      <p>Of course you do!</p>
    </details>
*/

// You'll need to add and initialize jquery.details.js to
// your page if you want accessible, cross-browser support
// for this pattern. 

  details{
    display: block;
    //margin: 0 -10px 0 -10px;
    margin: 0;
    padding-left: 10px;
    border-left: 4px solid #fff;
    summary{
      @include core-19;
      // @extend %link-style;
      display: block;
      padding-bottom: 5px;
      margin-top: 3px;
      margin-left: -18px;
      background: #fff;
    }
    &[open]{
      margin: 0;
      //margin: 0 -10px 0 -10px;
      summary:focus{ outline: none; background-color: #fff; }
      border-left-color: $border-colour;
    }



  }
  /* Styles for browsers that don't yet natively support details/summary */
  .no-details details > * { display: none; }
  .no-details details > summary:before { float: left; width: 20px; content: '► '; }
  .no-details details.open > summary:before { content: '▼ '; }
  .no-details details summary { display: block; }