.form{ 

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"]{
    background-color: $highlight-colour;
    border: 2px inset;
    padding: 2px 0 2px 8px;
    
    @include media(mobile) {
      width: 97%;
      box-sizing: border-box;
    }
    @include media(tablet) {
      width: 300px;
    }
    &.postcode{
      width: 100px;
    }
  }

  textarea{
    width: 97%;
    
    background-color: $highlight-colour;
    border: 2px inset;
    padding: 2px 0 2px 8px;    
    @include media("mobile") {
      width: 300px;    
    }
  }
  
  label{
    display: block;
    padding-right: 10px;
    padding-top: 5px;
  }

  select{
    font-size: 19px;
    margin-left: 0;
  }

  .control {
    @include core-19;
    padding: 8px 0;
  }
  
  .form-group {
    
  }
  
  .form-control {
    
  }

  fieldset{
    @include bold-24;
  }

  .hint{
    color: $secondary-text-colour;
  }
  
  .field-with-errors {
    label,
    input {
      color: #B94A48;
    }

    input,
    textarea {
      background-color: #F2DEDE;
      border-color: #EED3D7;
    }
  }
}