// Form styles

// Hints
.hint {
  display: block;
  @include core-16;
  color: $secondary-text-colour;
  margin-top: 5px;
}

// Form errors
.field-with-errors {
  label,
  input {
    color: #B94A48;
  }

  input,
  textarea {
    background-color: #F2DEDE;
    border-color: #EED3D7;
  }
}