// =======================================================
// PROGRESS INDICATOR

main.progress-indicator {

  nav.progress-indicator{
    @include progress-indicator; 
  }

  nav.progress-indicator-2{
    @include progress-indicator;
    width: 40%;
    li{
      float: none;
      margin-right: 0;
      &.done{
      margin-left: 0;
        span{
          position: relative;
          margin-top: 3px;
        }
      }
    }   
  }


  .title {
    h1 {
      @include core-48;
      font-weight: bold;
    }
    p {
      @include core-19;
      color: $secondary-text-colour;
    }
  }
}