// =======================================================
// PROGRESS INDICATOR

main.progress-indicator {


  .title {
    h1 {
      @include core-48;
      font-weight: bold;
    }
    p {
      @include core-19;
      color: $secondary-text-colour;
    }
  }



  .pattern-example{
    @import "helpers/progress-indicator";
    .progress-indicator{
      &.vertical {
        width: 35%;
        float: none;
        ul{
          margin: 0;
        }
      }
      &.horizontal {
        ul{
          margin: 0;
        }
      }
    }
  }
}