{% if page.steps %}

{% assign current-step = page.url | remove:'.html' | split:'.' | last | times: 1 %}

{% case page.progress-indicator-style %}

{% when 'compact' %}
  <p class="compact progress-indicator">Step {{ current-step }} of {{ page.steps.size }}</p>

{% when 'vertical' %}
  <nav role="navigation" class="vertical progress-indicator">
    <ul>
      {% for step in page.steps %}
      <li class="{% if forloop.index == current-step %}active {% endif %}{% if forloop.index < current-step %}done{% endif %}">
        <a href="{{ page.url | remove:'.html' | split:'.' | first }}.{{ forloop.index }}.html">{{ step }} {% if forloop.index < current-step %}<span>done</span>{% endif %}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

{% when 'horizontal' %}
  <nav role="navigation" class="horizontal progress-indicator">
    <ul>
      {% for step in page.steps %}
      <li class="{% if forloop.index == current-step %}active {% endif %}{% if forloop.index < current-step %}done{% endif %}">
      {% if forloop.index > current-step %}
        {{ forloop.index }}. {{ step }} {% if forloop.index < current-step %}<span>done</span>{% endif %}
      {% else %}
        <a href="{{ page.url | remove:'.html' | split:'.' | first }}.{{ forloop.index }}.html">{{ forloop.index }}. {{ step }} {% if forloop.index < current-step %}<span>done</span>{% endif %}</a>
      {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>

{% else %}

{% endcase %}

{% endif %}