{% assign current-step = page.url | remove:'.html' | split:'.' | last | times: 1 %}
{% assign next-step = current-step | plus:1 %}
{% assign prev-step = current-step | minus:1 %}

<nav class="step-navigation">
	{% if next-step <= page.progress-indicator.size %}
		<a href="{{ page.url | remove:'.html' | split:'.' | first }}.{{ next-step }}.html" class="button">Step {{ next-step }}: {{ page.progress-indicator[current-step] }}</a>

		{% if prev-step != 0 %}
		<br>
		<a href="{{ page.url | remove:'.html' | split:'.' | first }}.{{ prev-step }}.html" >Back</a>
		{% endif %}
	{% endif %}
</nav>