@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
.grid-wrapper {
  zoom: 1; }
  .grid-wrapper:after {
    content: "";
    display: block;
    clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
.grid-wrapper {
  zoom: 1; }
  .grid-wrapper:after {
    content: "";
    display: block;
    clear: both; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
.grid-wrapper {
  zoom: 1; }
  .grid-wrapper:after {
    content: "";
    display: block;
    clear: both; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
.core-80 {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-80 {
      font-size: 53px;
      line-height: 1.03774; } }

.core-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-48 {
      font-size: 32px;
      line-height: 1.09375; } }

.core-36 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-36 {
      font-size: 24px;
      line-height: 1.04167; } }

.core-27 {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-27 {
      font-size: 18px;
      line-height: 1.11111; } }

.core-24 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-24 {
      font-size: 20px;
      line-height: 1.2; } }

.core-19 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-19 {
      font-size: 16px;
      line-height: 1.25; } }

.core-16 {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-16 {
      font-size: 14px;
      line-height: 1.14286; } }

.core-14 {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .core-14 {
      font-size: 12px;
      line-height: 1.25; } }

.main {
  padding-bottom: 90px; }

.gov-uk {
  -webkit-font-smoothing: antialiased;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .gov-uk {
      font-size: 16px;
      line-height: 1.25; } }
  .gov-uk * {
    max-width: 75ex; }
  .gov-uk h1,
  .gov-uk .heading-48 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 60px; }
    @media (max-width: 640px) {
      .gov-uk h1,
      .gov-uk .heading-48 {
        font-size: 32px;
        line-height: 1.09375; } }
    .gov-uk h1 span,
    .gov-uk .heading-48 span {
      display: block;
      font-family: "nta", Arial, sans-serif;
      font-size: 27px;
      line-height: 1.11111;
      font-weight: 400;
      text-transform: none;
      color: #6f777b; }
      @media (max-width: 640px) {
        .gov-uk h1 span,
        .gov-uk .heading-48 span {
          font-size: 18px;
          line-height: 1.11111; } }
  .gov-uk h2,
  .gov-uk .heading-24 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 20px; }
    @media (max-width: 640px) {
      .gov-uk h2,
      .gov-uk .heading-24 {
        font-size: 20px;
        line-height: 1.2; } }
  .gov-uk h3,
  .gov-uk .heading-19 {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px; }
    @media (max-width: 640px) {
      .gov-uk h3,
      .gov-uk .heading-19 {
        font-size: 16px;
        line-height: 1.25; } }
  .gov-uk p,
  .gov-uk ul {
    margin-top: 5px;
    margin-bottom: 20px; }
  .gov-uk ul {
    padding-left: 20px; }
  .gov-uk ul li {
    list-style-type: disc; }
  .gov-uk li {
    margin-bottom: 5px; }
  .gov-uk .data-80 {
    font-family: "nta", Arial, sans-serif;
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
      .gov-uk .data-80 {
        font-size: 53px;
        line-height: 1.03774; } }
  .gov-uk .data-48 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
      .gov-uk .data-48 {
        font-size: 32px;
        line-height: 1.09375; } }
  .gov-uk .data p {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
      .gov-uk .data p {
        font-size: 14px;
        line-height: 1.14286; } }
  .gov-uk .button {
    margin-right: 15px; }
  .gov-uk code {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    padding: 0 5px;
    background: #dee0e2; }
    @media (max-width: 640px) {
      .gov-uk code {
        font-size: 14px;
        line-height: 1.14286; } }

.grid-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;
  padding: 0 15px; }

.grid {
  float: left; }

.grid .inner-block {
  padding: 0 15px;
  padding: 0 30px; }

.grid-1-4 {
  width: 100%;
  width: 25%; }

.grid-1-3 {
  width: 100%;
  width: 33.33333%; }

.grid-1-2 {
  width: 100%;
  width: 50%; }

.grid-2-3 {
  width: 100%;
  width: 66.66667%; }

.grid-3-4 {
  width: 100%;
  width: 75%; }

.button {
  background-color: #006435;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  border-bottom: 2px solid #00180c;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  .button:visited {
    background-color: #006435; }
  .button:hover, .button:focus {
    background-color: #004b27; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #006435;
    -moz-box-shadow: 0 0 0 #006435;
    box-shadow: 0 0 0 #006435; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #006435; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #00180c;
      -moz-box-shadow: 0 2px 0 #00180c;
      box-shadow: 0 2px 0 #00180c;
      border-bottom: 2px solid #00180c; }
  .button:hover, .button:focus, .button:visited {
    color: white; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button[type="submit"], .button[type="reset"], .button[type="button"] {
    filter: chroma(color=black); }
  .button[type=submit].button {
    filter: none; }

.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  border-bottom: 2px solid #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c; }
  .button-secondary:visited {
    background-color: #dee0e2; }
  .button-secondary:hover, .button-secondary:focus {
    background-color: #d0d3d6; }
  .button-secondary:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2; }
  .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
      cursor: default;
      background-color: #dee0e2; }
    .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #b5babe;
      -moz-box-shadow: 0 2px 0 #b5babe;
      box-shadow: 0 2px 0 #b5babe;
      border-bottom: 2px solid #b5babe; }
  .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
    color: #0b0c0c; }
  .button-secondary:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-secondary:active:before {
    top: -10%;
    height: 120%; }
  .button-secondary[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button-secondary[type="submit"], .button-secondary[type="reset"], .button-secondary[type="button"] {
    filter: chroma(color=black); }
  .button-secondary[type=submit].button {
    filter: none; }

.button-warning {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  border-bottom: 2px solid #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  .button-warning:visited {
    background-color: #b10e1e; }
  .button-warning:hover, .button-warning:focus {
    background-color: #990c1a; }
  .button-warning:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  .button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    .button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812;
      border-bottom: 2px solid #6a0812; }
  .button-warning:hover, .button-warning:focus, .button-warning:visited {
    color: white; }
  .button-warning:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-warning:active:before {
    top: -10%;
    height: 120%; }
  .button-warning[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button-warning[type="submit"], .button-warning[type="reset"], .button-warning[type="button"] {
    filter: chroma(color=black); }
  .button-warning[type=submit].button {
    filter: none; }

.example {
  color: #0076c0;
  font-style: normal; }

.phase-banner {
  padding: 8px 0;
  background-color: #d53880; }
  .phase-banner p {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      .phase-banner p {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-banner a, .phase-banner a:link, .phase-banner a:visited, .phase-banner a:active {
    color: #0b0c0c; }
  .phase-banner a:hover {
    color: #0b0c0c; }

#global-breadcrumb {
  background-color: white;
  max-width: 1020px;
  margin: 0 auto;
  z-index: 50; }
  #global-breadcrumb nav ol {
    max-width: 960px;
    margin: 0 15px;
    margin: 0 30px;
    padding: 0.75em 0; }
    #global-breadcrumb nav ol li {
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
      text-transform: none;
      background: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png) 100% 50% no-repeat;
      float: left;
      list-style: none;
      margin-left: 0;
      margin-right: 0.5em;
      padding-right: 15px; }
      @media (max-width: 640px) {
        #global-breadcrumb nav ol li {
          font-size: 14px;
          line-height: 1.14286; } }
      #global-breadcrumb nav ol li:last-child {
        background-image: none;
        margin-right: 0; }
      #global-breadcrumb nav ol li a {
        color: #0b0c0c; }
        #global-breadcrumb nav ol li a:hover {
          color: #2e8aca; }
