/*
Syntax error: File to import not found or unreadable: base.scss.
              Load paths:
                /Users/gemmaleigh/Sites/gds/design-patterns/example/assets
                /Users/gemmaleigh/Sites/gds/design-patterns/example/assets/sass
        on line 6 of sass/base-ie7.scss

1: // BASE STYLESHEET FOR IE 7 COMPILER
2: 
3: $is-ie: true;
4: $ie-version: 7;
5: 
6: @import "base.scss";

Backtrace:
sass/base-ie7.scss:6
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/gemmaleigh/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: base.scss.\A               Load paths:\A                 /Users/gemmaleigh/Sites/gds/design-patterns/example/assets\A                 /Users/gemmaleigh/Sites/gds/design-patterns/example/assets/sass\A         on line 6 of sass/base-ie7.scss\A \A 1: // BASE STYLESHEET FOR IE 7 COMPILER\A 2: \A 3: $is-ie: true;\A 4: $ie-version: 7;\A 5: \A 6: @import \"base.scss\";"; }
