.date-of-birth{
  @extend %contain-floats;
  .control{
    width: 60px;
    //margin-right: 10px;
    width: 69px;
    float: left;
    &.day input,
    &.month input{
      width: 40px;
      &:after{
        content: "/";
      }
    }
    &.year input{
      width: 60px;
    }
  }
}