@import "../govuk-helper/_colours.scss";

.example {
  
  @extend %contain-floats;
  position: relative;
  overflow: hidden;
  
  // border: 1px solid $black;
  outline: $gutter-half solid $highlight-colour;
  margin: $gutter 0 $gutter*2 0;
  padding: $gutter-half;
  @include media(tablet) {
    padding: $gutter $gutter-half;
  }
  
  &.example-wide {
    margin-right: 0;
    @include media(tablet) {
      margin-right: -33.33%;
    }
  }
  
  .highlight {
    font-style: normal;
    color: $hm-government;
  }
}

code {
  @include core-16;
  background: $grey-3;
  padding: 0 4px;
}

.example code {
  @include core-16;
  font-family: monospace, serif;
  display: block;
  padding: 0 0 15px 0;
  background: none;
  @include media(tablet) {
    padding: 0 0 30px 0;
  }
}

.example .ribbon {
  background-color: $grass-green;
  overflow: hidden;
  position: absolute;
  right: -50px;
  top: 40px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 50px;
}

.example-grid {
  background: white;
  padding: 15px 0 10px 0;
  @include media(tablet) {
    padding: 25px 0 20px 0;
  }
}
.example-grid p {
  width: 100%;
  background: url("../images/example/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 10px;
  @include media(tablet) {
    min-height: 60px;
  }
  overflow: hidden;
  text-indent: -99em;
}

.example .data p {
  margin-bottom: 0;
}

.example-images {
  padding-left: 0;
  padding-right: 0;
}

.example-images img {
  max-width: 100%;
  vertical-align: top;
}

.page-actions {
  margin: $gutter 0;
  list-style-type: none;
  padding-left: 0;
}

.page-actions li {
  @include bold-19;
  margin-bottom: 10px;
}

.page-metadata {
  border-top: 5px solid $black;
  padding-top: $gutter-two-thirds;
}

.page-metadata dt {
  @include core-16;
}

.page-metadata dd {
  @include bold-24;
  margin-bottom: 10px;
}

// Find out more

.find-out-more {
  background-color: $panel-colour;
  border-bottom: 5px solid $black;
  outline: 15px solid $panel-colour;
  padding-bottom: $gutter-half;
  margin-bottom: ($gutter*2);
}

// Colour palette swatches

.swatch-wrapper {
  @include media(tablet) {
    float: left; 
    width: 20%;
    text-align: center;
  }
  margin-bottom: $gutter;
}

.swatch-wrapper .heading-19 {
  @include media(mobile) {
    margin-bottom: $gutter-half;
  }
}

.swatch-wrapper .swatch {
  @include media(mobile) {
    clear: both;
    float: left;
    margin-right: $gutter-half;
    margin-bottom: $gutter-half;
  }
}
.swatch-wrapper ul {
  @include media(mobile) {
    min-height: 50px;
    padding-top: 10px;
  }
}

.swatch-wrapper li {
  @include core-16;
}
.swatch-wrapper b {
  font-weight: bold;
  text-transform: uppercase;
}

.swatch {
  width: 60px;
  height: 60px;
  @include border-radius(100%);
  @include media(tablet) {
    margin: 0 auto $gutter-half auto;
  }
}

// Swatches for text, links and backgrounds

.swatch-text-colour {
  background-color: $text-colour;
}
.swatch-text-secondary {
  background-color: $secondary-text-colour;
}
.swatch-page-colour {
  background-color: $page-colour;
  border: 1px solid $grey-3;
}

.swatch-link-colour {
 background-color: $link-colour;
}
.swatch-link-colour-visited {
 background-color: $link-visited-colour;
}
.swatch-link-colour-hover {
 background-color: $link-hover-colour;
}

.swatch-border-colour {
  background-color: $border-colour;
}
.swatch-panel-colour {
  background-color: $panel-colour;
}
.swatch-highlight-colour {
  background-color: $highlight-colour;
}

.swatch-black {
  background-color: $black;
}
.swatch-grey-1 {
  background-color: $grey-1;
}
.swatch-grey-2 {
  background-color: $grey-2;
}
.swatch-grey-3 {
  background-color: $grey-3;
}
.swatch-grey-4 {
  background-color: $grey-4;
}
.swatch-white {
  background-color: $white;
  border: 1px solid $grey-3;
}

// Generate swatch classes for each colour in palette

@each $colour-name, $colour-variable in $palettes {
  
  @each $tone in $colour-name {
    .swatch-#{$colour-name} {
      background-color: palette($colour-name, 'base');
    }
    .swatch-#{$colour-name}-mid {
      background-color: palette($colour-name, 'mid');
    }
    .swatch-#{$colour-name}-light {
      background-color: palette($colour-name, 'light');
    }

  }
}
