// Design Guide - Grid example
.example-grid {
  background: white;
  padding: 15px 0 10px 0;
  @include media(tablet) {
    padding: 25px 0 20px 0;
  }
}
.example-grid p {
  width: 100%;
  background: url("../images/example/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 10px;
  @include media(tablet) {
    min-height: 60px;
  }
  overflow: hidden;
  text-indent: -99em;
}