@charset "UTF-8";
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
.grid-wrapper, .cf, .date-of-birth, .phase-block, .progress-indicator.horizontal ol, .progress-indicator.horizontal ul, .progress-indicator.vertical ol, .progress-indicator.vertical ul, .pattern-example, .example {
  zoom: 1; }
  .grid-wrapper:after, .cf:after, .date-of-birth:after, .phase-block:after, .progress-indicator.horizontal ol:after, .progress-indicator.horizontal ul:after, .progress-indicator.vertical ol:after, .progress-indicator.vertical ul:after, .pattern-example:after, .example:after {
    content: "";
    display: block;
    clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
.grid-wrapper, .cf, .date-of-birth, .phase-block, .progress-indicator.horizontal ol, .progress-indicator.horizontal ul, .progress-indicator.vertical ol, .progress-indicator.vertical ul, .pattern-example, .example {
  zoom: 1; }
  .grid-wrapper:after, .cf:after, .date-of-birth:after, .phase-block:after, .progress-indicator.horizontal ol:after, .progress-indicator.horizontal ul:after, .progress-indicator.vertical ol:after, .progress-indicator.vertical ul:after, .pattern-example:after, .example:after {
    content: "";
    display: block;
    clear: both; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
.grid-wrapper, .cf, .date-of-birth, .phase-block, .progress-indicator.horizontal ol, .progress-indicator.horizontal ul, .progress-indicator.vertical ol, .progress-indicator.vertical ul, .pattern-example, .example {
  zoom: 1; }
  .grid-wrapper:after, .cf:after, .date-of-birth:after, .phase-block:after, .progress-indicator.horizontal ol:after, .progress-indicator.horizontal ul:after, .progress-indicator.vertical ol:after, .progress-indicator.vertical ul:after, .pattern-example:after, .example:after {
    content: "";
    display: block;
    clear: both; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
.gov-uk {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 640px) {
    .gov-uk {
      font-size: 16px;
      line-height: 1.25; } }
  .gov-uk .text {
    max-width: 30em; }
  .gov-uk .heading-48 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 60px; }
    @media (max-width: 640px) {
      .gov-uk .heading-48 {
        font-size: 32px;
        line-height: 1.09375; } }
    .gov-uk .heading-48 .heading-27 {
      display: block;
      font-family: "nta", Arial, sans-serif;
      font-size: 27px;
      line-height: 1.11111;
      font-weight: 400;
      text-transform: none;
      color: #6f777b; }
      @media (max-width: 640px) {
        .gov-uk .heading-48 .heading-27 {
          font-size: 18px;
          line-height: 1.11111; } }
  .gov-uk .heading-36 {
    font-family: "nta", Arial, sans-serif;
    font-size: 36px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-bottom: 20px; }
    @media (max-width: 640px) {
      .gov-uk .heading-36 {
        font-size: 24px;
        line-height: 1.04167; } }
  .gov-uk .heading-24 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-bottom: 20px; }
    @media (max-width: 640px) {
      .gov-uk .heading-24 {
        font-size: 20px;
        line-height: 1.2; } }
  .gov-uk .heading-19 {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-top: 20px; }
    @media (max-width: 640px) {
      .gov-uk .heading-19 {
        font-size: 16px;
        line-height: 1.25; } }
  .gov-uk p,
  .gov-uk pre {
    margin-top: 5px;
    margin-bottom: 20px; }
  .gov-uk .data-80 {
    font-family: "nta", Arial, sans-serif;
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
      .gov-uk .data-80 {
        font-size: 53px;
        line-height: 1.03774; } }
  .gov-uk .data-48 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    line-height: 0.9; }
    @media (max-width: 640px) {
      .gov-uk .data-48 {
        font-size: 32px;
        line-height: 1.09375; } }
  .gov-uk .data p {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
      .gov-uk .data p {
        font-size: 14px;
        line-height: 1.14286; } }
  .gov-uk dl,
  .gov-uk menu,
  .gov-uk ol,
  .gov-uk ul {
    margin: 0; }
  .gov-uk dd {
    margin-left: 0; }
  .gov-uk menu,
  .gov-uk ol,
  .gov-uk ul {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 0 0 20px; }
  .gov-uk ul {
    list-style-type: disc; }
  .gov-uk ol {
    list-style-type: decimal; }
  .gov-uk ul li,
  .gov-uk ol li {
    margin-bottom: 5px; }
  .gov-uk form {
    margin: 0; }
  .gov-uk button,
  .gov-uk input,
  .gov-uk select,
  .gov-uk textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; }
  .gov-uk button,
  .gov-uk input {
    line-height: normal; }
  .gov-uk textarea {
    overflow: auto;
    vertical-align: top; }
  .gov-uk input[type="text"],
  .gov-uk input[type="email"],
  .gov-uk input[type="date"],
  .gov-uk input[type="datetime"],
  .gov-uk input[type="datetime-local"],
  .gov-uk input[type="email"],
  .gov-uk input[type="month"],
  .gov-uk input[type="number"],
  .gov-uk input[type="search"],
  .gov-uk input[type="tel"],
  .gov-uk input[type="time"],
  .gov-uk input[type="url"],
  .gov-uk input[type="week"],
  .gov-uk select[size],
  .gov-uk textarea {
    padding: 3px 4px;
    background-color: #FFFFFF;
    border: 1px solid #bfc1c3;
    font-size: 1em;
    -webkit-appearance: none;
    border-radius: 0; }
  .gov-uk textarea {
    min-height: 190px;
    height: auto; }
  .gov-uk .form-control {
    min-width: 96%;
    min-width: 350px; }
  .gov-uk .form-group {
    margin-bottom: 15px;
    margin-bottom: 30px; }
  .gov-uk .form-group label {
    display: block;
    margin-bottom: 5px; }

.main {
  max-width: 1020px;
  width: auto;
  margin: 0 auto 90px auto; }

.grid-wrapper {
  padding: 0 15px;
  padding: 0 15px; }

.grid {
  float: left;
  width: 100%; }

.grid .inner-block {
  padding: 0 15px; }

.grid-1-4 {
  width: 100%;
  width: 25%; }

.grid-1-3 {
  width: 100%;
  width: 33.333333333%; }

.grid-1-2 {
  width: 100%;
  width: 50%; }

.grid-2-3 {
  width: 100%;
  width: 66.666666667%; }

.grid-3-4 {
  width: 100%;
  width: 75%; }

.text-secondary {
  color: #6f777b; }

.is-space {
  margin-bottom: 30px; }

.is-double-space {
  margin-bottom: 60px; }

#find-uk-address {
  margin-left: 10px;
  vertical-align: -1px; }

.phase-banner {
  padding: 8px 0;
  background-color: #d53880; }
  .phase-banner p {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      .phase-banner p {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-banner a, .phase-banner a:link, .phase-banner a:visited, .phase-banner a:active {
    color: #0b0c0c; }
  .phase-banner a:hover {
    color: #0b0c0c; }

#global-breadcrumb {
  background-color: white;
  max-width: 1020px;
  margin: 0 auto;
  z-index: 50; }
  #global-breadcrumb nav ol {
    max-width: 960px;
    margin: 0 15px;
    margin: 0 30px;
    padding: 0.75em 0; }
    #global-breadcrumb nav ol li {
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
      text-transform: none;
      background: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png) 100% 50% no-repeat;
      float: left;
      list-style: none;
      margin-left: 0;
      margin-right: 0.5em;
      padding-right: 15px; }
      @media (max-width: 640px) {
        #global-breadcrumb nav ol li {
          font-size: 14px;
          line-height: 1.14286; } }
      #global-breadcrumb nav ol li:last-child {
        background-image: none;
        margin-right: 0; }
      #global-breadcrumb nav ol li a {
        color: #0b0c0c; }
        #global-breadcrumb nav ol li a:hover {
          color: #2e8aca; }

.button {
  background-color: #006435;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  border-bottom: 2px solid #00180c;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  .button:visited {
    background-color: #006435; }
  .button:hover, .button:focus {
    background-color: #004b27; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #006435;
    -moz-box-shadow: 0 0 0 #006435;
    box-shadow: 0 0 0 #006435; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #006435; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #00180c;
      -moz-box-shadow: 0 2px 0 #00180c;
      box-shadow: 0 2px 0 #00180c;
      border-bottom: 2px solid #00180c; }
  .button:hover, .button:focus, .button:visited {
    color: white; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button[type="submit"], .button[type="reset"], .button[type="button"] {
    filter: chroma(color=black); }
  .button[type=submit].button {
    filter: none; }

.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  border-bottom: 2px solid #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c; }
  .button-secondary:visited {
    background-color: #dee0e2; }
  .button-secondary:hover, .button-secondary:focus {
    background-color: #d0d3d6; }
  .button-secondary:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2; }
  .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
      cursor: default;
      background-color: #dee0e2; }
    .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #b5babe;
      -moz-box-shadow: 0 2px 0 #b5babe;
      box-shadow: 0 2px 0 #b5babe;
      border-bottom: 2px solid #b5babe; }
  .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
    color: #0b0c0c; }
  .button-secondary:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-secondary:active:before {
    top: -10%;
    height: 120%; }
  .button-secondary[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button-secondary[type="submit"], .button-secondary[type="reset"], .button-secondary[type="button"] {
    filter: chroma(color=black); }
  .button-secondary[type=submit].button {
    filter: none; }

.button-warning {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  border-bottom: 2px solid #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  .button-warning:visited {
    background-color: #b10e1e; }
  .button-warning:hover, .button-warning:focus {
    background-color: #990c1a; }
  .button-warning:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  .button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    .button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812;
      border-bottom: 2px solid #6a0812; }
  .button-warning:hover, .button-warning:focus, .button-warning:visited {
    color: white; }
  .button-warning:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-warning:active:before {
    top: -10%;
    height: 120%; }
  .button-warning[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button-warning[type="submit"], .button-warning[type="reset"], .button-warning[type="button"] {
    filter: chroma(color=black); }
  .button-warning[type=submit].button {
    filter: none; }

.link-style {
  display: inline;
  color: #005ea5;
  -webkit-appearance: none;
  background: none;
  border: none;
  text-decoration: underline; }
  .link-style:hover {
    color: #2e8aca;
    cursor: pointer; }

.date-of-birth .control {
  width: 60px;
  width: 69px;
  float: left; }
  .date-of-birth .control.day input, .date-of-birth .control.month input {
    width: 40px; }
    .date-of-birth .control.day input:after, .date-of-birth .control.month input:after {
      content: "/"; }
  .date-of-birth .control.year input {
    width: 60px; }

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="email"],
.form input[type="month"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="time"],
.form input[type="url"],
.form input[type="week"] {
  background-color: white;
  border: 1px solid #bfc1c3;
  padding: 3px 0 3px 8px;
  width: 300px; }
  .form input[type="text"].postcode,
  .form input[type="password"].postcode,
  .form input[type="email"].postcode,
  .form input[type="date"].postcode,
  .form input[type="datetime"].postcode,
  .form input[type="datetime-local"].postcode,
  .form input[type="email"].postcode,
  .form input[type="month"].postcode,
  .form input[type="number"].postcode,
  .form input[type="search"].postcode,
  .form input[type="tel"].postcode,
  .form input[type="time"].postcode,
  .form input[type="url"].postcode,
  .form input[type="week"].postcode {
    width: 100px; }
.form textarea {
  width: 97%;
  background-color: white;
  border: 1px solid #bfc1c3;
  padding: 3px 0 3px 8px; }
.form label {
  display: block;
  padding-right: 10px;
  padding-top: 5px; }
.form select {
  font-size: 19px;
  margin-left: 0; }
.form .control {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding: 8px 0; }
  @media (max-width: 640px) {
    .form .control {
      font-size: 16px;
      line-height: 1.25; } }
.form .hint {
  display: block;
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  margin-top: 8px; }
  @media (max-width: 640px) {
    .form .hint {
      font-size: 14px;
      line-height: 1.14286; } }
.form .button {
  margin-right: 5px; }
.form .field-with-errors label,
.form .field-with-errors input {
  color: #B94A48; }
.form .field-with-errors input,
.form .field-with-errors textarea {
  background-color: #F2DEDE;
  border-color: #EED3D7; }

.phase-block {
  display: inline !important;
  list-style: none;
  padding: 0;
  margin: 0; }
  .phase-block .alpha {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    background-color: #d53880;
    color: #fff;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 3px 10px 0 5px;
    padding: 2px 5px 0; }
    @media (max-width: 640px) {
      .phase-block .alpha {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-block .beta {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    background-color: #f47738;
    color: #fff;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 3px 10px 0 5px;
    padding: 2px 5px 0; }
    @media (max-width: 640px) {
      .phase-block .beta {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-block .alpha,
  .phase-block .beta {
    display: inline;
    vertical-align: middle;
    float: none; }

.progress-indicator.compact {
  margin: 30px 0 0 30px;
  color: #6f777b; }
.progress-indicator.horizontal, .progress-indicator.vertical {
  margin-bottom: 30px;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .progress-indicator.horizontal, .progress-indicator.vertical {
      font-size: 16px;
      line-height: 1.25; } }
  .progress-indicator.horizontal ol, .progress-indicator.horizontal ul, .progress-indicator.vertical ol, .progress-indicator.vertical ul {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #bfc1c3;
    list-style-type: none;
    padding: 0; }
  .progress-indicator.horizontal li, .progress-indicator.vertical li {
    float: left;
    margin: 0 40px -1px 0;
    padding: 10px 0 5px 0;
    color: #6f777b;
    border-bottom: 5px solid transparent; }
    .progress-indicator.horizontal li a, .progress-indicator.vertical li a {
      display: block;
      text-decoration: none; }
      .progress-indicator.horizontal li a:hover, .progress-indicator.vertical li a:hover {
        color: #005ea5;
        text-decoration: underline; }
    .progress-indicator.horizontal li.active, .progress-indicator.vertical li.active {
      border-bottom: 5px solid #0b0c0c;
      color: #0b0c0c; }
      .progress-indicator.horizontal li.active a, .progress-indicator.vertical li.active a {
        color: #0b0c0c; }
    .progress-indicator.horizontal li span, .progress-indicator.vertical li span {
      float: right;
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
      text-transform: none; }
      @media (max-width: 640px) {
        .progress-indicator.horizontal li span, .progress-indicator.vertical li span {
          font-size: 14px;
          line-height: 1.14286; } }
    .progress-indicator.horizontal li.done span, .progress-indicator.vertical li.done span {
      font-weight: bold;
      color: #006435;
          /*

          text-indent: -9999px;
          margin-right: 5px;
          margin-left: -16px;
          width: 5px;
          margin-top: -23px;
          height: 10px;
          border-right: 3px solid;
          border-bottom: 3px solid;
          border-color: $green;
          -webkit-transform: rotate(45deg);
          position: absolute;
          */ }
.progress-indicator.horizontal ul {
  max-width: 100%; }
.progress-indicator.horizontal li.done span {
  display: none; }
.progress-indicator.vertical {
  width: 33.33%;
  float: left; }
  .progress-indicator.vertical li {
    float: none;
    margin-right: 0; }
    .progress-indicator.vertical li.done span {
      position: relative;
      margin-top: 3px; }

/* Example use:
    <details>
      <summary>Wanna know more?</sumary>
      <p>Of course you do!</p>
    </details>
*/
details {
  display: block;
  margin: 0;
  padding-left: 10px;
  border-left: 4px solid #fff; }
  details summary {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: block;
    padding-bottom: 5px;
    margin-top: 3px;
    margin-left: -18px;
    background: #fff; }
    @media (max-width: 640px) {
      details summary {
        font-size: 16px;
        line-height: 1.25; } }
  details[open] {
    margin: 0;
    border-left-color: #bfc1c3; }
    details[open] summary:focus {
      outline: none;
      background-color: #fff; }

/* Styles for browsers that don't yet natively support details/summary */
.no-details details > * {
  display: none; }

.no-details details > summary:before {
  float: left;
  width: 20px;
  content: '► '; }

.no-details details.open > summary:before {
  content: '▼ '; }

.no-details details summary {
  display: block; }

.design-guide .guide-subheader {
  margin-bottom: 0; }
.design-guide h1,
.design-guide h2,
.design-guide h3,
.design-guide p,
.design-guide ul {
  max-width: 30em; }
.design-guide .page-metadata {
  border-top: 5px solid #0b0c0c;
  padding-top: 40px; }
.design-guide .page-metadata dt {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .design-guide .page-metadata dt {
      font-size: 14px;
      line-height: 1.14286; } }
.design-guide .page-metadata dd {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px; }
  @media (max-width: 640px) {
    .design-guide .page-metadata dd {
      font-size: 20px;
      line-height: 1.2; } }
.design-guide .page-actions {
  margin: 30px 0;
  list-style-type: none;
  padding-left: 0; }
.design-guide .page-actions li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px; }
  @media (max-width: 640px) {
    .design-guide .page-actions li {
      font-size: 16px;
      line-height: 1.25; } }

.pattern-example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  outline: 15px solid #f8f8f8;
  margin: 30px 0 60px 0;
  padding: 15px;
  padding: 30px 15px; }
  .pattern-example.wide {
    margin-right: -33.33%; }
  .pattern-example .ribbon {
    background-color: #85994b;
    overflow: hidden;
    position: absolute;
    right: -50px;
    top: 40px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 50px; }
  .pattern-example #postcode-lookup {
    float: left; }
  .pattern-example #enter-address-manually {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding: 8px 0; }
  .pattern-example details {
    margin-left: 15px;
    margin-left: 30px; }

.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  outline: 15px solid #f8f8f8;
  margin: 30px 0 60px 0;
  padding: 15px;
  padding: 30px 15px; }
  .example em {
    color: #0076c0;
    font-style: normal; }
  .example code {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-family: monospace, serif;
    display: block;
    padding: 0 0 15px 0;
    background: none;
    padding: 0 0 30px 0; }
    @media (max-width: 640px) {
      .example code {
        font-size: 14px;
        line-height: 1.14286; } }

.example-grid {
  background: white;
  padding: 15px 0 10px 0;
  padding: 25px 0 20px 0; }

.example-grid p {
  width: 100%;
  background: url("../images/example/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 10px;
  min-height: 60px;
  overflow: hidden;
  text-indent: -99em; }

.example-images {
  padding-left: 0;
  padding-right: 0; }

.example-images img {
  max-width: 100%;
  vertical-align: top; }

.example .data p {
  margin-bottom: 0; }

.example .swatch {
  width: 60px;
  height: 60px;
  display: block;
  margin-bottom: 30px; }
.example .text-secondary {
  color: #6f777b; }
.example .colour-hm-government {
  background: #0076c0; }
.example .colour-department-of-health {
  background: #00ad93; }
.example .button {
  margin-bottom: 30px; }

.example-highlight-grid .grid-wrapper {
  background: #bfc1c3; }
.example-highlight-grid .grid {
  background: #f8f8f8; }
.example-highlight-grid .grid .is-inner-block-highlight {
  background: #dee0e2;
  width: 100%; }
