/*
Syntax error: Undefined variable: "$gutter-half".
        on line 3 of sass/govuk-helper/_typography-headings.scss
        from line 22 of sass/base.scss

1: //
2: // Design Guide example
3: //
4: 
5: // GOV.UK front end toolkit
6: // Sass mixins and helpers for responsive design, x-browser compatibility and colour palettes
7: 
8: @import "../govuk_frontend_toolkit/stylesheets/colours";

Backtrace:
sass/govuk-helper/_typography-headings.scss:3
sass/base.scss:22
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/script/tree/node.rb:50:in `perform'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:373:in `visit_prop'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block (2 levels) in visit_rule'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `map'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block in visit_rule'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:394:in `visit_rule'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:296:in `block (2 levels) in visit_import'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:296:in `map'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:296:in `block in visit_import'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:88:in `block in with_import'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:88:in `with_import'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:293:in `visit_import'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit_children'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:181:in `visit_root'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:275:in `render'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:347:in `update_stylesheet'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:191:in `block in update_stylesheets'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:188:in `each'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:188:in `update_stylesheets'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:276:in `block in watch'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/timpaul/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$gutter-half\".\A         on line 3 of sass/govuk-helper/_typography-headings.scss\A         from line 22 of sass/base.scss\A \A 1: //\A 2: // Design Guide example\A 3: //\A 4: \A 5: // GOV.UK front end toolkit\A 6: // Sass mixins and helpers for responsive design, x-browser compatibility and colour palettes\A 7: \A 8: @import \"../govuk_frontend_toolkit/stylesheets/colours\";"; }
