@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-wrapper:after, .cf:after, .phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-wrapper:after, .cf:after, .phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-wrapper:after, .cf:after, .phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
/* line 2, ../sass/govuk-helper/_main.scss */
.gov-uk {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 640px) {
  /* line 2, ../sass/govuk-helper/_main.scss */
  .gov-uk {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* line 10, ../sass/govuk-helper/_main.scss */
.gov-uk .text {
  max-width: 30em;
}
/* line 19, ../sass/govuk-helper/_main.scss */
.gov-uk .heading-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  /* line 19, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-48 {
    font-size: 32px;
    line-height: 1.09375;
  }
}
@media (min-width: 641px) {
  /* line 19, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-48 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
/* line 27, ../sass/govuk-helper/_main.scss */
.gov-uk .heading-48 .heading-27 {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
}
@media (max-width: 640px) {
  /* line 27, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-48 .heading-27 {
    font-size: 18px;
    line-height: 1.11111;
  }
}
/* line 34, ../sass/govuk-helper/_main.scss */
.gov-uk .heading-36 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 34, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-36 {
    font-size: 24px;
    line-height: 1.04167;
  }
}
@media (min-width: 641px) {
  /* line 34, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-36 {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}
/* line 44, ../sass/govuk-helper/_main.scss */
.gov-uk .heading-24 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 44, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-24 {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (min-width: 641px) {
  /* line 44, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-24 {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}
/* line 54, ../sass/govuk-helper/_main.scss */
.gov-uk .heading-19 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media (max-width: 640px) {
  /* line 54, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-19 {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 641px) {
  /* line 54, ../sass/govuk-helper/_main.scss */
  .gov-uk .heading-19 {
    margin-top: 20px;
  }
}
/* line 64, ../sass/govuk-helper/_main.scss */
.gov-uk p,
.gov-uk pre {
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 70, ../sass/govuk-helper/_main.scss */
.gov-uk .data-80 {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 70, ../sass/govuk-helper/_main.scss */
  .gov-uk .data-80 {
    font-size: 53px;
    line-height: 1.03774;
  }
}
/* line 74, ../sass/govuk-helper/_main.scss */
.gov-uk .data-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.9;
}
@media (max-width: 640px) {
  /* line 74, ../sass/govuk-helper/_main.scss */
  .gov-uk .data-48 {
    font-size: 32px;
    line-height: 1.09375;
  }
}
/* line 79, ../sass/govuk-helper/_main.scss */
.gov-uk .data p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 79, ../sass/govuk-helper/_main.scss */
  .gov-uk .data p {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 91, ../sass/govuk-helper/_main.scss */
.gov-uk dl,
.gov-uk menu,
.gov-uk ol,
.gov-uk ul {
  margin: 0;
}
/* line 95, ../sass/govuk-helper/_main.scss */
.gov-uk dd {
  margin-left: 0;
}
/* line 101, ../sass/govuk-helper/_main.scss */
.gov-uk menu,
.gov-uk ol,
.gov-uk ul {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
}
/* line 107, ../sass/govuk-helper/_main.scss */
.gov-uk ul {
  list-style-type: disc;
}
/* line 110, ../sass/govuk-helper/_main.scss */
.gov-uk ol {
  list-style-type: decimal;
}
/* line 115, ../sass/govuk-helper/_main.scss */
.gov-uk ul li,
.gov-uk ol li {
  margin-bottom: 5px;
}
/* line 124, ../sass/govuk-helper/_main.scss */
.gov-uk form {
  margin: 0;
}
/* line 131, ../sass/govuk-helper/_main.scss */
.gov-uk button,
.gov-uk input,
.gov-uk select,
.gov-uk textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/* line 139, ../sass/govuk-helper/_main.scss */
.gov-uk button,
.gov-uk input {
  line-height: normal;
}
/* line 157, ../sass/govuk-helper/_main.scss */
.gov-uk input[type="text"],
.gov-uk input[type="email"],
.gov-uk input[type="date"],
.gov-uk input[type="datetime"],
.gov-uk input[type="datetime-local"],
.gov-uk input[type="email"],
.gov-uk input[type="month"],
.gov-uk input[type="number"],
.gov-uk input[type="search"],
.gov-uk input[type="tel"],
.gov-uk input[type="time"],
.gov-uk input[type="url"],
.gov-uk input[type="week"],
.gov-uk select[size],
.gov-uk textarea {
  font-size: 1em;
  padding: 4px;
  background-color: white;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0;
}
/* line 169, ../sass/govuk-helper/_main.scss */
.gov-uk textarea {
  overflow: auto;
  vertical-align: top;
  min-height: 190px;
  height: auto;
}
/* line 176, ../sass/govuk-helper/_main.scss */
.gov-uk .form-group {
  margin-bottom: 15px;
}
@media (min-width: 641px) {
  /* line 176, ../sass/govuk-helper/_main.scss */
  .gov-uk .form-group {
    margin-bottom: 30px;
  }
}
/* line 183, ../sass/govuk-helper/_main.scss */
.gov-uk .form-group label {
  display: block;
  margin-bottom: 5px;
}
/* line 188, ../sass/govuk-helper/_main.scss */
.gov-uk .form-control {
  width: 96%;
}
@media (min-width: 641px) {
  /* line 188, ../sass/govuk-helper/_main.scss */
  .gov-uk .form-control {
    width: 350px;
  }
}
/* line 195, ../sass/govuk-helper/_main.scss */
.gov-uk .hint {
  display: block;
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  margin-top: 8px;
}
@media (max-width: 640px) {
  /* line 195, ../sass/govuk-helper/_main.scss */
  .gov-uk .hint {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 209, ../sass/govuk-helper/_main.scss */
.main {
  max-width: 1020px;
  width: auto;
  margin: 0 auto 90px auto;
}

/* line 217, ../sass/govuk-helper/_main.scss */
.grid-wrapper {
  padding: 0 15px;
}
@media (min-width: 641px) {
  /* line 217, ../sass/govuk-helper/_main.scss */
  .grid-wrapper {
    padding: 0 15px;
  }
}

/* line 226, ../sass/govuk-helper/_main.scss */
.grid {
  float: left;
  width: 100%;
}

@media (min-width: 641px) {
  /* line 231, ../sass/govuk-helper/_main.scss */
  .grid .inner-block {
    padding: 0 15px;
  }
}

/* line 238, ../sass/govuk-helper/_main.scss */
.grid-1-4 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 238, ../sass/govuk-helper/_main.scss */
  .grid-1-4 {
    width: 25%;
  }
}

/* line 245, ../sass/govuk-helper/_main.scss */
.grid-1-3 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 245, ../sass/govuk-helper/_main.scss */
  .grid-1-3 {
    width: 33.333333333%;
  }
}

/* line 252, ../sass/govuk-helper/_main.scss */
.grid-1-2 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 252, ../sass/govuk-helper/_main.scss */
  .grid-1-2 {
    width: 50%;
  }
}

/* line 259, ../sass/govuk-helper/_main.scss */
.grid-2-3 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 259, ../sass/govuk-helper/_main.scss */
  .grid-2-3 {
    width: 66.666666667%;
  }
}

/* line 266, ../sass/govuk-helper/_main.scss */
.grid-3-4 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 266, ../sass/govuk-helper/_main.scss */
  .grid-3-4 {
    width: 75%;
  }
}

/* line 278, ../sass/govuk-helper/_main.scss */
.text-secondary {
  color: #6f777b;
}

/* line 1, ../sass/design-patterns/_alpha-beta.scss */
.phase-banner {
  padding: 8px 0;
  background-color: #d53880;
}
/* line 14, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner p {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 14, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
  .phase-banner p {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 23, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner a, .phase-banner a:link, .phase-banner a:visited, .phase-banner a:active {
  color: #0b0c0c;
}
/* line 27, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner a:hover {
  color: #0b0c0c;
}

/* line 1, ../sass/design-patterns/_phase-block.scss */
.phase-block {
  display: inline !important;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 10, ../sass/design-patterns/_phase-block.scss */
.phase-block .alpha,
.phase-block .beta {
  display: inline;
  vertical-align: middle;
  float: none;
}
/* line 16, ../sass/design-patterns/_phase-block.scss */
.phase-block .alpha {
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #d53880;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0;
}
@media (max-width: 640px) {
  /* line 16, ../sass/design-patterns/_phase-block.scss */
  .phase-block .alpha {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 20, ../sass/design-patterns/_phase-block.scss */
.phase-block .beta {
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #f47738;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0;
}
@media (max-width: 640px) {
  /* line 20, ../sass/design-patterns/_phase-block.scss */
  .phase-block .beta {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 1, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb {
  max-width: 1020px;
  margin: 0 auto 35px auto;
}

/* line 6, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb ol {
  list-style: none;
  margin: 0 15px;
  padding: 12px 0;
  border-top: 10px solid #2b8cc4;
}
@media (min-width: 641px) {
  /* line 6, ../sass/design-patterns/_breadcrumb.scss */
  .breadcrumb ol {
    margin: 0 30px;
  }
}

/* line 17, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  float: left;
  background: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png) 100% 50% no-repeat;
  margin-right: 8px;
  padding-right: 16px;
}
@media (max-width: 640px) {
  /* line 17, ../sass/design-patterns/_breadcrumb.scss */
  .breadcrumb li {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 24, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb li:last-child {
  background-image: none;
  margin-right: 0;
}

/* line 30, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb a {
  color: #0b0c0c;
}
/* line 33, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb a:hover {
  color: #2e8aca;
}

/* line 1, ../sass/design-patterns/_buttons.scss */
.button {
  background-color: #006435;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  margin: 0 15px 15px 0;
  vertical-align: top;
}
/* line 51, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:visited {
  background-color: #006435;
}
/* line 55, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:hover, .button:focus {
  background-color: #004b27;
}
/* line 58, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #006435;
  -moz-box-shadow: 0 0 0 #006435;
  box-shadow: 0 0 0 #006435;
}
/* line 66, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled, .button[disabled="disabled"], .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #006435;
}
/* line 72, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
}
/* line 86, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:hover, .button:focus, .button:visited {
  color: white;
}
/* line 100, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active:before {
  top: -10%;
  height: 120%;
}
/* line 123, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 7, ../sass/design-patterns/_buttons.scss */
.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}
/* line 51, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:visited {
  background-color: #dee0e2;
}
/* line 55, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:hover, .button-secondary:focus {
  background-color: #d0d3d6;
}
/* line 58, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}
/* line 66, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}
/* line 72, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}
/* line 93, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
  color: #0b0c0c;
}
/* line 100, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:active:before {
  top: -10%;
  height: 120%;
}
/* line 123, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 11, ../sass/design-patterns/_buttons.scss */
.button-warning {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
}
/* line 51, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning:visited {
  background-color: #b10e1e;
}
/* line 55, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning:hover, .button-warning:focus {
  background-color: #990c1a;
}
/* line 58, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #b10e1e;
  -moz-box-shadow: 0 0 0 #b10e1e;
  box-shadow: 0 0 0 #b10e1e;
}
/* line 66, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
  cursor: default;
  background-color: #b10e1e;
}
/* line 72, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
}
/* line 86, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning:hover, .button-warning:focus, .button-warning:visited {
  color: white;
}
/* line 100, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning:active:before {
  top: -10%;
  height: 120%;
}
/* line 123, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-warning[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 2, ../sass/design-patterns/_addresses.scss */
.form .postcode {
  width: 100px;
}

/* line 7, ../sass/design-patterns/_addresses.scss */
.address-finder label {
  padding-top: 10px;
}

/* line 10, ../sass/design-patterns/_addresses.scss */
.address-finder .postcode {
  float: left;
  margin-right: 15px;
}

/* line 3, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth legend {
  margin-bottom: 15px;
}
/* line 7, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-group {
  width: 40px;
  float: left;
  margin-right: 15px;
}
@media (min-width: 641px) {
  /* line 7, ../sass/design-patterns/_date-of-birth.scss */
  .date-of-birth .form-group {
    margin-right: 30px;
  }
}
/* line 16, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-group-year {
  width: 60px;
}
/* line 20, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-control {
  width: 100%;
}

/* line 1, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator {
  margin-bottom: 30px;
}
/* line 6, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator ol,
.progress-indicator ul {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #bfc1c3;
  list-style-type: none;
  padding-left: 0;
}
/* line 15, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator li {
  color: #6f777b;
  padding: 12px 0 5px 0;
}
/* line 19, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator a {
  text-decoration: none;
}
/* line 23, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator .active {
  border-bottom: 5px solid #0b0c0c;
  color: #0b0c0c;
}
/* line 27, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator .active a {
  color: #0b0c0c;
  text-decoration: none;
}

@media (min-width: 641px) {
  /* line 36, ../sass/design-patterns/_progress-indicator.scss */
  .progress-indicator-horizontal li {
    float: left;
    margin-right: 30px;
  }
}
@media (min-width: 641px) {
  /* line 42, ../sass/design-patterns/_progress-indicator.scss */
  .progress-indicator-horizontal li.active {
    margin-bottom: -5px;
  }
}

@media (min-width: 641px) {
  /* line 50, ../sass/design-patterns/_progress-indicator.scss */
  .progress-indicator-vertical {
    width: 50%;
  }
}
/* line 57, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator-vertical span {
  float: right;
}

/* line 9, ../sass/example/_example.scss */
.design-guide .guide-subheader {
  margin-bottom: 0;
}
/* line 17, ../sass/example/_example.scss */
.design-guide h1,
.design-guide h2,
.design-guide h3,
.design-guide p,
.design-guide ul {
  max-width: 30em;
}
/* line 22, ../sass/example/_example.scss */
.design-guide .page-metadata {
  border-top: 5px solid #0b0c0c;
  padding-top: 20px;
}
/* line 27, ../sass/example/_example.scss */
.design-guide .page-metadata dt {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 27, ../sass/example/_example.scss */
  .design-guide .page-metadata dt {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 31, ../sass/example/_example.scss */
.design-guide .page-metadata dd {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 31, ../sass/example/_example.scss */
  .design-guide .page-metadata dd {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* line 36, ../sass/example/_example.scss */
.design-guide .page-actions {
  margin: 30px 0;
  list-style-type: none;
  padding-left: 0;
}
/* line 42, ../sass/example/_example.scss */
.design-guide .page-actions li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 42, ../sass/example/_example.scss */
  .design-guide .page-actions li {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* line 48, ../sass/example/_example.scss */
.design-guide code {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-family: monospace, serif;
  background: #dee0e2;
  padding: 0 4px;
  display: -moz-inline-stack;
  display: inline-block;
}
@media (max-width: 640px) {
  /* line 48, ../sass/example/_example.scss */
  .design-guide code {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 57, ../sass/example/_example.scss */
.design-guide .highlight {
  color: #0076c0;
  font-style: normal;
}

/* line 69, ../sass/example/_example.scss */
.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  outline: 15px solid #f8f8f8;
  margin: 30px 0 60px 0;
  padding: 15px;
}
@media (min-width: 641px) {
  /* line 69, ../sass/example/_example.scss */
  .example {
    padding: 30px 15px;
  }
}
/* line 83, ../sass/example/_example.scss */
.example.example-wide {
  margin-right: 0;
}
@media (min-width: 641px) {
  /* line 83, ../sass/example/_example.scss */
  .example.example-wide {
    margin-right: -33.33%;
  }
}
/* line 91, ../sass/example/_example.scss */
.example em {
  color: #0076c0;
  font-style: normal;
}
/* line 97, ../sass/example/_example.scss */
.example code {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-family: monospace, serif;
  display: block;
  padding: 0 0 15px 0;
  background: none;
}
@media (max-width: 640px) {
  /* line 97, ../sass/example/_example.scss */
  .example code {
    font-size: 14px;
    line-height: 1.14286;
  }
}
@media (min-width: 641px) {
  /* line 97, ../sass/example/_example.scss */
  .example code {
    padding: 0 0 30px 0;
  }
}
/* line 109, ../sass/example/_example.scss */
.example .ribbon {
  background-color: #85994b;
  overflow: hidden;
  position: absolute;
  right: -50px;
  top: 40px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 50px;
}
/* line 124, ../sass/example/_example.scss */
.example ul {
  max-width: 100%;
}

/* line 132, ../sass/example/_example.scss */
.example-grid {
  background: white;
  padding: 15px 0 10px 0;
}
@media (min-width: 641px) {
  /* line 132, ../sass/example/_example.scss */
  .example-grid {
    padding: 25px 0 20px 0;
  }
}

/* line 140, ../sass/example/_example.scss */
.example-grid p {
  width: 100%;
  background: url("../images/example/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  text-indent: -99em;
}
@media (min-width: 641px) {
  /* line 140, ../sass/example/_example.scss */
  .example-grid p {
    min-height: 60px;
  }
}

/* line 154, ../sass/example/_example.scss */
.example-images {
  padding-left: 0;
  padding-right: 0;
}

/* line 159, ../sass/example/_example.scss */
.example-images img {
  max-width: 100%;
  vertical-align: top;
}

/* line 166, ../sass/example/_example.scss */
.example .data p {
  margin-bottom: 0;
}

/* line 175, ../sass/example/_example.scss */
.example .swatch {
  width: 60px;
  height: 60px;
  display: block;
  margin-bottom: 30px;
}
/* line 181, ../sass/example/_example.scss */
.example .text-secondary {
  color: #6f777b;
}
/* line 185, ../sass/example/_example.scss */
.example .colour-hm-government {
  background: #0076c0;
}
/* line 188, ../sass/example/_example.scss */
.example .colour-department-of-health {
  background: #00ad93;
}
/* line 192, ../sass/example/_example.scss */
.example .button {
  margin-bottom: 30px;
}

/* line 206, ../sass/example/_example.scss */
.example-highlight-grid .grid-wrapper {
  background: #bfc1c3;
}
/* line 210, ../sass/example/_example.scss */
.example-highlight-grid .grid {
  background: #f8f8f8;
}
/* line 214, ../sass/example/_example.scss */
.example-highlight-grid .grid .is-inner-block-highlight {
  background: #dee0e2;
  width: 100%;
}
