/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 48, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.govuk .cf, .govuk .form-group, .govuk .grid-wrapper, .govuk .form-group-block, .phase-block, .progress-indicator ol,
.progress-indicator ul, .example {
  zoom: 1;
}
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.govuk .cf:after, .govuk .form-group:after, .govuk .grid-wrapper:after, .govuk .form-group-block:after, .phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 48, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.govuk .cf, .govuk .form-group, .govuk .grid-wrapper, .govuk .form-group-block, .phase-block, .progress-indicator ol,
.progress-indicator ul, .example {
  zoom: 1;
}
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.govuk .cf:after, .govuk .form-group:after, .govuk .grid-wrapper:after, .govuk .form-group-block:after, .phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 48, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.govuk .cf, .govuk .form-group, .govuk .grid-wrapper, .govuk .form-group-block, .phase-block, .progress-indicator ol,
.progress-indicator ul, .example {
  zoom: 1;
}
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.govuk .cf:after, .govuk .form-group:after, .govuk .grid-wrapper:after, .govuk .form-group-block:after, .phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
/* line 1, ../sass/govuk-helper/_main-wrapper.scss */
.main {
  max-width: 1020px;
  width: auto;
  margin: 0 auto 90px;
}

/* line 7, ../sass/govuk-helper/_main-wrapper.scss */
.main-full-width {
  max-width: 100%;
}

/* line 3, ../sass/govuk-helper/_typography-base.scss */
.govuk {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 640px) {
  /* line 3, ../sass/govuk-helper/_typography-base.scss */
  .govuk {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* line 1, ../sass/govuk-helper/_typography-general.scss */
.govuk p,
.govuk pre {
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 7, ../sass/govuk-helper/_typography-general.scss */
.govuk .lede,
.govuk .lead {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 7, ../sass/govuk-helper/_typography-general.scss */
  .govuk .lede,
  .govuk .lead {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* line 12, ../sass/govuk-helper/_typography-general.scss */
.govuk .copy-16 {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 12, ../sass/govuk-helper/_typography-general.scss */
  .govuk .copy-16 {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 19, ../sass/govuk-helper/_typography-general.scss */
.govuk .text {
  max-width: 30em;
}
/* line 1, ../sass/govuk-helper/_typography-headings.scss */
.govuk .heading-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  /* line 1, ../sass/govuk-helper/_typography-headings.scss */
  .govuk .heading-48 {
    font-size: 32px;
    line-height: 1.09375;
  }
}
/* line 9, ../sass/govuk-helper/_typography-headings.scss */
.govuk .heading-48 .heading-27 {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
}
@media (max-width: 640px) {
  /* line 9, ../sass/govuk-helper/_typography-headings.scss */
  .govuk .heading-48 .heading-27 {
    font-size: 18px;
    line-height: 1.11111;
  }
}
/* line 16, ../sass/govuk-helper/_typography-headings.scss */
.govuk .heading-36 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 16, ../sass/govuk-helper/_typography-headings.scss */
  .govuk .heading-36 {
    font-size: 24px;
    line-height: 1.04167;
  }
}
/* line 26, ../sass/govuk-helper/_typography-headings.scss */
.govuk .heading-24 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 26, ../sass/govuk-helper/_typography-headings.scss */
  .govuk .heading-24 {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* line 36, ../sass/govuk-helper/_typography-headings.scss */
.govuk .heading-19 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media (max-width: 640px) {
  /* line 36, ../sass/govuk-helper/_typography-headings.scss */
  .govuk .heading-19 {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* line 2, ../sass/govuk-helper/_typography-data.scss */
.govuk .data-80 {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 2, ../sass/govuk-helper/_typography-data.scss */
  .govuk .data-80 {
    font-size: 53px;
    line-height: 1.03774;
  }
}
/* line 6, ../sass/govuk-helper/_typography-data.scss */
.govuk .data-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.9;
}
@media (max-width: 640px) {
  /* line 6, ../sass/govuk-helper/_typography-data.scss */
  .govuk .data-48 {
    font-size: 32px;
    line-height: 1.09375;
  }
}
/* line 11, ../sass/govuk-helper/_typography-data.scss */
.govuk .data p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 11, ../sass/govuk-helper/_typography-data.scss */
  .govuk .data p {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 2, ../sass/govuk-helper/_grid-wrapper.scss */
.govuk .grid-wrapper {
  padding: 0 15px;
}
/* line 2, ../sass/govuk-helper/_grid-unit.scss */
.govuk .grid {
  float: left;
  width: 100%;
}
/* line 1, ../sass/govuk-helper/_grid-1-2.scss */
.govuk .grid-1-2 {
  width: 100%;
}
/* line 1, ../sass/govuk-helper/_grid-1-3.scss */
.govuk .grid-1-3 {
  width: 100%;
}
/* line 1, ../sass/govuk-helper/_grid-1-4.scss */
.govuk .grid-1-4 {
  width: 100%;
}
/* line 1, ../sass/govuk-helper/_grid-2-3.scss */
.govuk .grid-2-3 {
  width: 100%;
}
/* line 1, ../sass/govuk-helper/_grid-3-4.scss */
.govuk .grid-3-4 {
  width: 100%;
}
/* line 1, ../sass/govuk-helper/_buttons.scss */
.govuk .button {
  background-color: #006435;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  border-bottom: 2px solid #00180c;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top;
}
/* line 51, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button:visited {
  background-color: #006435;
}
/* line 54, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button:hover, .govuk .button:focus {
  background-color: #004b27;
}
/* line 58, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #006435;
  -moz-box-shadow: 0 0 0 #006435;
  box-shadow: 0 0 0 #006435;
}
/* line 64, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button.disabled, .govuk .button[disabled="disabled"], .govuk .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button.disabled:hover, .govuk .button[disabled="disabled"]:hover, .govuk .button[disabled]:hover {
  cursor: default;
  background-color: #006435;
}
/* line 72, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button.disabled:active, .govuk .button[disabled="disabled"]:active, .govuk .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  border-bottom: 2px solid #00180c;
}
/* line 84, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button:hover, .govuk .button:focus, .govuk .button:visited {
  color: white;
}
/* line 100, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button:active:before {
  top: -10%;
  height: 120%;
  top: auto;
  height: 100%;
}
/* line 123, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}
/* line 132, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button[type="submit"], .govuk .button[type="reset"], .govuk .button[type="button"] {
  filter: chroma(color=black);
}
/* line 138, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.govuk .button[type=submit].button {
  filter: none;
}
/* line 7, ../sass/govuk-helper/_buttons.scss */
.govuk .button:focus {
  outline: 3px solid #ffbf47;
}
/* line 12, ../sass/govuk-helper/_buttons.scss */
.govuk .get-started .button {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.66667;
  background-color: #00823b;
  padding: 0.60em 1.7em 0.45em 0.67em;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-pointer-063838cde108768e30b077e5303783fc.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
@media (max-width: 640px) {
  /* line 12, ../sass/govuk-helper/_buttons.scss */
  .govuk .get-started .button {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* line 22, ../sass/govuk-helper/_buttons.scss */
.govuk .get-started .button:hover {
  background-color: #006435;
}
/* line 26, ../sass/govuk-helper/_buttons.scss */
.govuk .get-started .destination {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  color: #2e3133;
  display: block;
  margin-top: 7px;
  max-width: 182px;
}
@media (max-width: 640px) {
  /* line 26, ../sass/govuk-helper/_buttons.scss */
  .govuk .get-started .destination {
    font-size: 12px;
    line-height: 1.25;
  }
}
/* line 35, ../sass/govuk-helper/_buttons.scss */
.govuk .button-link {
  background: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #005ea5;
  line-height: 1.25;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top;
}
/* line 51, ../sass/govuk-helper/_buttons.scss */
.govuk .button-link:hover {
  color: #2e8aca;
}
/* line 54, ../sass/govuk-helper/_buttons.scss */
.govuk .button-link:focus {
  outline: 3px solid #ffbf47;
}
/* line 83, ../sass/govuk-helper/_colours.scss */
.govuk .text-secondary {
  color: #6f777b;
}
/* line 87, ../sass/govuk-helper/_colours.scss */
.govuk .bg-hm-government {
  background: #0076c0;
}
/* line 1, ../sass/govuk-helper/_lists.scss */
.govuk dl,
.govuk menu,
.govuk ol,
.govuk ul {
  margin: 0;
}
/* line 8, ../sass/govuk-helper/_lists.scss */
.govuk dd {
  margin-left: 0;
}
/* line 12, ../sass/govuk-helper/_lists.scss */
.govuk menu,
.govuk ol,
.govuk ul {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
}
/* line 20, ../sass/govuk-helper/_lists.scss */
.govuk ul,
.govuk ol {
  list-style-type: none;
}
/* line 25, ../sass/govuk-helper/_lists.scss */
.govuk ul li,
.govuk ol li {
  margin-bottom: 5px;
}
/* line 31, ../sass/govuk-helper/_lists.scss */
.govuk .list-bullet {
  list-style-type: disc;
  margin-left: 20px;
}
/* line 37, ../sass/govuk-helper/_lists.scss */
.govuk .list-number {
  list-style-type: decimal;
  margin-left: 20px;
}
/* line 3, ../sass/govuk-helper/_forms.scss */
.govuk form {
  margin: 0;
}
/* line 7, ../sass/govuk-helper/_forms.scss */
.govuk fieldset {
  width: 100%;
  float: left;
  clear: both;
  margin-left: 0;
}
/* line 14, ../sass/govuk-helper/_forms.scss */
.govuk legend {
  padding-left: 0;
  width: 100%;
  float: left;
  clear: both;
}
/* line 22, ../sass/govuk-helper/_forms.scss */
.govuk legend.heading-36 {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 45px;
}
/* line 28, ../sass/govuk-helper/_forms.scss */
.govuk legend.heading-24 {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 20px;
}
/* line 35, ../sass/govuk-helper/_forms.scss */
.govuk button,
.govuk input,
.govuk select,
.govuk textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/* line 44, ../sass/govuk-helper/_forms.scss */
.govuk button,
.govuk input {
  line-height: normal;
}
/* line 49, ../sass/govuk-helper/_forms.scss */
.govuk input[type="text"],
.govuk input[type="email"],
.govuk input[type="date"],
.govuk input[type="datetime"],
.govuk input[type="datetime-local"],
.govuk input[type="email"],
.govuk input[type="month"],
.govuk input[type="number"],
.govuk input[type="search"],
.govuk input[type="tel"],
.govuk input[type="time"],
.govuk input[type="url"],
.govuk input[type="week"],
.govuk select[size],
.govuk textarea {
  font-size: 1em;
  padding: 4px;
  background-color: white;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0;
}
/* line 75, ../sass/govuk-helper/_forms.scss */
.govuk textarea {
  overflow: auto;
  vertical-align: top;
  min-height: 190px;
  height: auto;
}
/* line 84, ../sass/govuk-helper/_forms.scss */
.govuk .form-group {
  float: left;
  width: 100%;
  clear: both;
}
/* line 94, ../sass/govuk-helper/_forms.scss */
.govuk .form-group-compound {
  margin-bottom: 10px;
}
/* line 100, ../sass/govuk-helper/_forms.scss */
.govuk .form-label, .govuk .date-of-birth legend,
.govuk .form-group label {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 5px;
}
@media (max-width: 640px) {
  /* line 100, ../sass/govuk-helper/_forms.scss */
  .govuk .form-label, .govuk .date-of-birth legend,
  .govuk .form-group label {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* line 110, ../sass/govuk-helper/_forms.scss */
.govuk .form-control {
  width: 100%;
  box-sizing: border-box;
}
/* line 120, ../sass/govuk-helper/_forms.scss */
.govuk .form-control-3-4 {
  width: 100%;
}
/* line 127, ../sass/govuk-helper/_forms.scss */
.govuk .form-control-1-2 {
  width: 100%;
}
/* line 134, ../sass/govuk-helper/_forms.scss */
.govuk .form-control-1-4 {
  width: 100%;
}
/* line 141, ../sass/govuk-helper/_forms.scss */
.govuk .form-control-1-8 {
  width: 100%;
}
/* line 150, ../sass/govuk-helper/_forms.scss */
.govuk .form-hint {
  display: block;
  color: #6f777b;
  margin-top: 8px;
  margin-bottom: 5px;
}
/* line 163, ../sass/govuk-helper/_forms.scss */
.govuk .date-of-birth label {
  display: block;
  color: #6f777b;
  margin-bottom: 5px;
}
/* line 181, ../sass/govuk-helper/_forms.scss */
.govuk .date-of-birth .form-group input {
  width: 100%;
}
/* line 187, ../sass/govuk-helper/_forms.scss */
.govuk .form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}
/* line 194, ../sass/govuk-helper/_forms.scss */
.govuk .form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}
/* line 201, ../sass/govuk-helper/_forms.scss */
.govuk .form-group-indent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 5px solid #dee0e2;
  padding-left: 15px;
  margin: 30px 20px 30px 0;
}
/* line 209, ../sass/govuk-helper/_forms.scss */
.govuk .form-group-inline {
  padding-top: 15px;
}
/* line 212, ../sass/govuk-helper/_forms.scss */
.govuk .form-group-inline .form-checkbox,
.govuk .form-group-inline .form-radio {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* line 224, ../sass/govuk-helper/_forms.scss */
.govuk .form-group-block .form-checkbox,
.govuk .form-group-block .form-radio {
  margin-bottom: 15px;
}
/* line 230, ../sass/govuk-helper/_forms.scss */
.govuk .form-group label.block-label {
  display: inline-block;
}
/* line 234, ../sass/govuk-helper/_forms.scss */
.govuk .block-label {
  display: inline-block;
  padding: 18px 30px 15px 15px;
  background: #dee0e2;
}
/* line 244, ../sass/govuk-helper/_forms.scss */
.govuk .block-label input:focus {
  outline: none;
}
/* line 250, ../sass/govuk-helper/_forms.scss */
.govuk .add-focus {
  outline: 3px solid #ffbf47;
}

/* line 1, ../sass/design-patterns/_alpha-beta.scss */
.phase-banner {
  padding: 8px 0;
  background-color: #d53880;
}
/* line 14, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner p {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 14, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
  .phase-banner p {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 23, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner a, .phase-banner a:link, .phase-banner a:visited, .phase-banner a:active {
  color: #0b0c0c;
}
/* line 27, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner a:hover {
  color: #0b0c0c;
}

/* line 1, ../sass/design-patterns/_phase-block.scss */
.phase-block {
  display: inline !important;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 9, ../sass/design-patterns/_phase-block.scss */
.phase-block .alpha,
.phase-block .beta {
  display: inline;
  vertical-align: middle;
  float: none;
}
/* line 16, ../sass/design-patterns/_phase-block.scss */
.phase-block .alpha {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  background-color: #d53880;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0;
}
@media (max-width: 640px) {
  /* line 16, ../sass/design-patterns/_phase-block.scss */
  .phase-block .alpha {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 20, ../sass/design-patterns/_phase-block.scss */
.phase-block .beta {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  background-color: #f47738;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0;
}
@media (max-width: 640px) {
  /* line 20, ../sass/design-patterns/_phase-block.scss */
  .phase-block .beta {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 1, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb {
  max-width: 1020px;
  margin: 0 auto 35px auto;
}

/* line 6, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb ol {
  list-style: none;
  margin: 0 15px;
  padding: 12px 0;
  border-top: 10px solid #2b8cc4;
}

/* line 17, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  float: left;
  background: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png) 100% 50% no-repeat;
  margin-right: 8px;
  padding-right: 16px;
}
@media (max-width: 640px) {
  /* line 17, ../sass/design-patterns/_breadcrumb.scss */
  .breadcrumb li {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 24, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb li:last-child {
  background-image: none;
  margin-right: 0;
}

/* line 30, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb a {
  color: #0b0c0c;
}
/* line 33, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb a:hover {
  color: #2e8aca;
}

/* line 8, ../sass/design-patterns/_addresses.scss */
.form .postcode {
  width: 100px;
}

/* line 9, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth legend {
  margin-bottom: 15px;
}
/* line 13, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-group {
  width: 40px;
  float: left;
  margin-right: 15px;
}
/* line 22, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-group-year {
  width: 60px;
}
/* line 26, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-control {
  width: 100%;
}

/* line 7, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator {
  margin-bottom: 30px;
}
/* line 11, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator ol,
.progress-indicator ul {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #bfc1c3;
  list-style-type: none;
  padding-left: 0;
}
/* line 21, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator li {
  color: #6f777b;
  padding: 12px 0 5px 0;
}
/* line 25, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator a {
  text-decoration: none;
}
/* line 29, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator .active {
  border-bottom: 5px solid #0b0c0c;
  color: #0b0c0c;
}
/* line 33, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator .active a {
  color: #0b0c0c;
  text-decoration: none;
}

/* line 63, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator-vertical span {
  float: right;
}

/* line 83, ../sass/govuk-helper/_colours.scss */
.text-secondary {
  color: #6f777b;
}

/* line 87, ../sass/govuk-helper/_colours.scss */
.bg-hm-government {
  background: #0076c0;
}

/* line 3, ../sass/design-guide/_guide-styles.scss */
.example {
  position: relative;
  overflow: hidden;
  outline: 15px solid #f8f8f8;
  margin: 30px 0 60px 0;
  padding: 15px;
}
/* line 17, ../sass/design-guide/_guide-styles.scss */
.example.example-wide {
  margin-right: 0;
}
/* line 24, ../sass/design-guide/_guide-styles.scss */
.example .highlight {
  font-style: normal;
  color: #0076c0;
}

/* line 30, ../sass/design-guide/_guide-styles.scss */
code {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  background: #dee0e2;
  padding: 0 4px;
}
@media (max-width: 640px) {
  /* line 30, ../sass/design-guide/_guide-styles.scss */
  code {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 36, ../sass/design-guide/_guide-styles.scss */
.example code {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-family: monospace, serif;
  display: block;
  padding: 0 0 15px 0;
  background: none;
}
@media (max-width: 640px) {
  /* line 36, ../sass/design-guide/_guide-styles.scss */
  .example code {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 47, ../sass/design-guide/_guide-styles.scss */
.example .ribbon {
  background-color: #85994b;
  overflow: hidden;
  position: absolute;
  right: -50px;
  top: 40px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 50px;
}

/* line 62, ../sass/design-guide/_guide-styles.scss */
.example-grid {
  background: white;
  padding: 15px 0 10px 0;
}

/* line 69, ../sass/design-guide/_guide-styles.scss */
.example-grid p {
  width: 100%;
  background: url("../images/example/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  text-indent: -99em;
}

/* line 81, ../sass/design-guide/_guide-styles.scss */
.example .data p {
  margin-bottom: 0;
}

/* line 85, ../sass/design-guide/_guide-styles.scss */
.example-images {
  padding-left: 0;
  padding-right: 0;
}

/* line 90, ../sass/design-guide/_guide-styles.scss */
.example-images img {
  max-width: 100%;
  vertical-align: top;
}

/* line 95, ../sass/design-guide/_guide-styles.scss */
.page-actions {
  margin: 30px 0;
  list-style-type: none;
  padding-left: 0;
}

/* line 101, ../sass/design-guide/_guide-styles.scss */
.page-actions li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 101, ../sass/design-guide/_guide-styles.scss */
  .page-actions li {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 106, ../sass/design-guide/_guide-styles.scss */
.page-metadata {
  border-top: 5px solid #0b0c0c;
  padding-top: 20px;
}

/* line 111, ../sass/design-guide/_guide-styles.scss */
.page-metadata dt {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 111, ../sass/design-guide/_guide-styles.scss */
  .page-metadata dt {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 115, ../sass/design-guide/_guide-styles.scss */
.page-metadata dd {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 115, ../sass/design-guide/_guide-styles.scss */
  .page-metadata dd {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* line 122, ../sass/design-guide/_guide-styles.scss */
.find-out-more {
  background-color: #dee0e2;
  border-bottom: 5px solid #0b0c0c;
  outline: 15px solid #dee0e2;
  padding-bottom: 15px;
  margin-bottom: 60px;
}

/* line 132, ../sass/design-guide/_guide-styles.scss */
.swatch-wrapper {
  margin-bottom: 30px;
}

/* line 162, ../sass/design-guide/_guide-styles.scss */
.swatch-wrapper li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 162, ../sass/design-guide/_guide-styles.scss */
  .swatch-wrapper li {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 165, ../sass/design-guide/_guide-styles.scss */
.swatch-wrapper b {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 170, ../sass/design-guide/_guide-styles.scss */
.swatch {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/* line 181, ../sass/design-guide/_guide-styles.scss */
.swatch-text-colour {
  background-color: #0b0c0c;
}

/* line 184, ../sass/design-guide/_guide-styles.scss */
.swatch-text-secondary {
  background-color: #6f777b;
}

/* line 187, ../sass/design-guide/_guide-styles.scss */
.swatch-page-colour {
  background-color: white;
  border: 1px solid #dee0e2;
}

/* line 192, ../sass/design-guide/_guide-styles.scss */
.swatch-link-colour {
  background-color: #005ea5;
}

/* line 195, ../sass/design-guide/_guide-styles.scss */
.swatch-link-colour-visited {
  background-color: #005ea5;
}

/* line 198, ../sass/design-guide/_guide-styles.scss */
.swatch-link-colour-hover {
  background-color: #2e8aca;
}

/* line 202, ../sass/design-guide/_guide-styles.scss */
.swatch-border-colour {
  background-color: #bfc1c3;
}

/* line 205, ../sass/design-guide/_guide-styles.scss */
.swatch-panel-colour {
  background-color: #dee0e2;
}

/* line 208, ../sass/design-guide/_guide-styles.scss */
.swatch-highlight-colour {
  background-color: #f8f8f8;
}

/* line 212, ../sass/design-guide/_guide-styles.scss */
.swatch-black {
  background-color: #0b0c0c;
}

/* line 215, ../sass/design-guide/_guide-styles.scss */
.swatch-grey-1 {
  background-color: #6f777b;
}

/* line 218, ../sass/design-guide/_guide-styles.scss */
.swatch-grey-2 {
  background-color: #bfc1c3;
}

/* line 221, ../sass/design-guide/_guide-styles.scss */
.swatch-grey-3 {
  background-color: #dee0e2;
}

/* line 224, ../sass/design-guide/_guide-styles.scss */
.swatch-grey-4 {
  background-color: #f8f8f8;
}

/* line 227, ../sass/design-guide/_guide-styles.scss */
.swatch-white {
  background-color: white;
  border: 1px solid #dee0e2;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-purple {
  background-color: #2e358b;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-purple-mid {
  background-color: #9799c4;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-purple-light {
  background-color: #d5d6e7;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-mauve {
  background-color: #6f72af;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-mauve-mid {
  background-color: #b7b9d7;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-mauve-light {
  background-color: #e2e2ef;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-fuschia {
  background-color: #912b88;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-fuschia-mid {
  background-color: #c994c3;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-fuschia-light {
  background-color: #e9d4e6;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-pink {
  background-color: #d53880;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-pink-mid {
  background-color: #eb9bbe;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-pink-light {
  background-color: #f6d7e5;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-baby-pink {
  background-color: #f499be;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-baby-pink-mid {
  background-color: #faccdf;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-baby-pink-light {
  background-color: #fdebf2;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-red {
  background-color: #b10e1e;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-red-mid {
  background-color: #d9888c;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-red-light {
  background-color: #efcfd1;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-mellow-red {
  background-color: #df3034;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-mellow-red-mid {
  background-color: #ef9998;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-mellow-red-light {
  background-color: #f9d6d6;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-orange {
  background-color: #f47738;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-orange-mid {
  background-color: #fabb96;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-orange-light {
  background-color: #fde4d4;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-brown {
  background-color: #b58840;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-brown-mid {
  background-color: #dac39c;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-brown-light {
  background-color: #f0e7d7;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-yellow {
  background-color: #ffbf47;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-yellow-mid {
  background-color: #ffdf94;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-yellow-light {
  background-color: #fff2d3;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-green {
  background-color: #006435;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-green-mid {
  background-color: #7fb299;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-green-light {
  background-color: #cce0d6;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-grass-green {
  background-color: #85994b;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-grass-green-mid {
  background-color: #c2cca3;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-grass-green-light {
  background-color: #e7ebda;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-turquoise {
  background-color: #28a197;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-turquoise-mid {
  background-color: #95d0cb;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-turquoise-light {
  background-color: #d5ecea;
}

/* line 237, ../sass/design-guide/_guide-styles.scss */
.swatch-light-blue {
  background-color: #2b8cc4;
}

/* line 240, ../sass/design-guide/_guide-styles.scss */
.swatch-light-blue-mid {
  background-color: #96c6e2;
}

/* line 243, ../sass/design-guide/_guide-styles.scss */
.swatch-light-blue-light {
  background-color: #d5e8f3;
}
