/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, ../govuk_frontend_toolkit/stylesheets/_shims.scss */
.phase-block:after, .progress-indicator ol:after,
.progress-indicator ul:after, .example:after {
  content: "";
  display: block;
  clear: both;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
/* line 72, ../sass/elements/_helpers.scss */
.example-highlight-grid .grid-wrapper {
  background: #bfc1c3;
}
/* line 75, ../sass/elements/_helpers.scss */
.example-highlight-grid .grid {
  background: #f8f8f8;
}
/* line 78, ../sass/elements/_helpers.scss */
.example-highlight-grid .is-inner-block-highlight {
  background: #dee0e2;
  width: 100%;
}

/* line 85, ../sass/elements/_helpers.scss */
.example-back-link {
  display: -moz-inline-stack;
  display: inline-block;
  margin-top: 30px;
}

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
/* line 6, ../sass/elements/_reset.scss */
div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/elements/_reset.scss */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

/* line 5, ../sass/elements/_typography.scss */
#content {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 640px) {
  /* line 5, ../sass/elements/_typography.scss */
  #content {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 11, ../sass/elements/_typography.scss */
.heading-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  /* line 11, ../sass/elements/_typography.scss */
  .heading-48 {
    font-size: 32px;
    line-height: 1.09375;
  }
}
@media (min-width: 641px) {
  /* line 11, ../sass/elements/_typography.scss */
  .heading-48 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
/* line 19, ../sass/elements/_typography.scss */
.heading-48 .heading-27 {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
}
@media (max-width: 640px) {
  /* line 19, ../sass/elements/_typography.scss */
  .heading-48 .heading-27 {
    font-size: 18px;
    line-height: 1.11111;
  }
}

/* line 26, ../sass/elements/_typography.scss */
.heading-36 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 26, ../sass/elements/_typography.scss */
  .heading-36 {
    font-size: 24px;
    line-height: 1.04167;
  }
}
@media (min-width: 641px) {
  /* line 26, ../sass/elements/_typography.scss */
  .heading-36 {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

/* line 36, ../sass/elements/_typography.scss */
.heading-24 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 36, ../sass/elements/_typography.scss */
  .heading-24 {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (min-width: 641px) {
  /* line 36, ../sass/elements/_typography.scss */
  .heading-24 {
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

/* line 46, ../sass/elements/_typography.scss */
.heading-19 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media (max-width: 640px) {
  /* line 46, ../sass/elements/_typography.scss */
  .heading-19 {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 641px) {
  /* line 46, ../sass/elements/_typography.scss */
  .heading-19 {
    margin-top: 20px;
  }
}

/* line 56, ../sass/elements/_typography.scss */
p,
pre {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* line 62, ../sass/elements/_typography.scss */
.lede,
.lead {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 62, ../sass/elements/_typography.scss */
  .lede,
  .lead {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* line 67, ../sass/elements/_typography.scss */
.copy-16 {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 67, ../sass/elements/_typography.scss */
  .copy-16 {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 73, ../sass/elements/_typography.scss */
.text {
  max-width: 30em;
}

/* line 78, ../sass/elements/_typography.scss */
.data-80 {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 78, ../sass/elements/_typography.scss */
  .data-80 {
    font-size: 53px;
    line-height: 1.03774;
  }
}

/* line 82, ../sass/elements/_typography.scss */
.data-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.9;
}
@media (max-width: 640px) {
  /* line 82, ../sass/elements/_typography.scss */
  .data-48 {
    font-size: 32px;
    line-height: 1.09375;
  }
}

/* line 87, ../sass/elements/_typography.scss */
.data p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 87, ../sass/elements/_typography.scss */
  .data p {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 4, ../sass/elements/_layout.scss */
#wrapper {
  text-align: center;
  padding-bottom: 30px;
}
@media (min-width: 769px) {
  /* line 4, ../sass/elements/_layout.scss */
  #wrapper {
    padding-bottom: 90px;
  }
}

/* line 12, ../sass/elements/_layout.scss */
#content {
  text-align: left;
  margin: 0 auto;
  width: auto;
  max-width: 1020px;
}
/* line 7, ../sass/elements/_helpers.scss */
#content:after {
  content: "";
  display: block;
  clear: both;
}

/* line 20, ../sass/elements/_layout.scss */
.outer-block {
  margin: 0 auto;
  width: auto;
  max-width: 1020px;
}
/* line 7, ../sass/elements/_helpers.scss */
.outer-block:after {
  content: "";
  display: block;
  clear: both;
}

/* line 23, ../sass/elements/_layout.scss */
.inner-block {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 641px) {
  /* line 23, ../sass/elements/_layout.scss */
  .inner-block {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* line 28, ../sass/elements/_layout.scss */
.alpha-banner {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d53880;
}
/* line 54, ../sass/elements/_helpers.scss */
.alpha-banner p {
  margin: 0;
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 54, ../sass/elements/_helpers.scss */
  .alpha-banner p {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 60, ../sass/elements/_helpers.scss */
.alpha-banner a, .alpha-banner a:link, .alpha-banner a:visited, .alpha-banner a:active {
  color: #0b0c0c;
}
/* line 64, ../sass/elements/_helpers.scss */
.alpha-banner a:hover {
  color: #0b0c0c;
}

/* line 7, ../sass/elements/_helpers.scss */
.grid-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 641px) {
  /* line 34, ../sass/elements/_layout.scss */
  .grid-wrapper {
    padding: 0 15px;
  }
}

/* line 42, ../sass/elements/_layout.scss */
.grid {
  float: left;
  width: 100%;
}

@media (min-width: 641px) {
  /* line 48, ../sass/elements/_layout.scss */
  .grid .inner-block {
    padding: 0 15px;
  }
}

/* line 54, ../sass/elements/_layout.scss */
.grid-1-4 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 54, ../sass/elements/_layout.scss */
  .grid-1-4 {
    width: 25%;
  }
}

/* line 61, ../sass/elements/_layout.scss */
.grid-1-3 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 61, ../sass/elements/_layout.scss */
  .grid-1-3 {
    width: 33.333333333%;
  }
}

/* line 68, ../sass/elements/_layout.scss */
.grid-1-2 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 68, ../sass/elements/_layout.scss */
  .grid-1-2 {
    width: 50%;
  }
}

/* line 75, ../sass/elements/_layout.scss */
.grid-2-3 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 75, ../sass/elements/_layout.scss */
  .grid-2-3 {
    width: 66.666666667%;
  }
}

/* line 82, ../sass/elements/_layout.scss */
.grid-3-4 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 82, ../sass/elements/_layout.scss */
  .grid-3-4 {
    width: 75%;
  }
}

/* line 5, ../sass/elements/_forms.scss */
fieldset,
legend {
  width: 100%;
  float: left;
  clear: both;
}

/* line 13, ../sass/elements/_forms.scss */
.form-group {
  float: left;
  width: 100%;
  clear: both;
}
/* line 7, ../sass/elements/_helpers.scss */
.form-group:after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 641px) {
  /* line 13, ../sass/elements/_forms.scss */
  .form-group {
    margin-bottom: 45px;
  }
}

/* line 23, ../sass/elements/_forms.scss */
.form-group-compound {
  margin-bottom: 10px;
}

/* line 31, ../sass/elements/_forms.scss */
.form-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 31, ../sass/elements/_forms.scss */
  .form-label {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 38, ../sass/elements/_forms.scss */
.form-block {
  float: left;
  width: 100%;
}
/* line 7, ../sass/elements/_helpers.scss */
.form-block:after {
  content: "";
  display: block;
  clear: both;
}

/* line 48, ../sass/elements/_forms.scss */
.form-control {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: 4px;
  background-color: white;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0;
}
@media (min-width: 641px) {
  /* line 48, ../sass/elements/_forms.scss */
  .form-control {
    width: 50%;
  }
}

/* line 68, ../sass/elements/_forms.scss */
.form-control-3-4 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 68, ../sass/elements/_forms.scss */
  .form-control-3-4 {
    width: 75%;
  }
}

/* line 75, ../sass/elements/_forms.scss */
.form-control-1-2 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 75, ../sass/elements/_forms.scss */
  .form-control-1-2 {
    width: 50%;
  }
}

/* line 82, ../sass/elements/_forms.scss */
.form-control-1-4 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 82, ../sass/elements/_forms.scss */
  .form-control-1-4 {
    width: 25%;
  }
}

/* line 89, ../sass/elements/_forms.scss */
.form-control-1-8 {
  width: 100%;
}
@media (min-width: 641px) {
  /* line 89, ../sass/elements/_forms.scss */
  .form-control-1-8 {
    width: 12.5%;
  }
}

/* line 99, ../sass/elements/_forms.scss */
.form-hint {
  display: block;
  color: #6f777b;
  margin-top: 8px;
  margin-bottom: 5px;
}

/* line 108, ../sass/elements/_forms.scss */
.form-radio {
  display: block;
  margin: 10px 0;
}

/* line 112, ../sass/elements/_forms.scss */
.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}

/* line 119, ../sass/elements/_forms.scss */
.form-checkbox {
  display: block;
  margin: 15px 0;
}

/* line 123, ../sass/elements/_forms.scss */
.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

/* line 4, ../sass/elements/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../sass/elements/_tables.scss */
table tr {
  padding: 12px 8px 12px 16px;
}

/* line 13, ../sass/elements/_tables.scss */
table tr:nth-child(even) td {
  background-color: white;
}

/* line 23, ../sass/elements/_tables.scss */
table th,
table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  text-align: left;
  color: #0b0c0c;
  background-color: #dee0e2;
  border: solid 1px #a1acb2;
  padding: 10px 16px;
}
@media (max-width: 640px) {
  /* line 23, ../sass/elements/_tables.scss */
  table th,
  table td {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 33, ../sass/elements/_tables.scss */
table th {
  font-weight: 700;
}

/* line 37, ../sass/elements/_tables.scss */
table td {
  background: #eaedef;
  border: dotted 1px #b8c6cc;
}

/* line 4, ../sass/elements/_buttons.scss */
.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top;
}
/* line 51, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:visited {
  background-color: #00823b;
}
/* line 54, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:hover, .button:focus {
  background-color: #00692f;
}
/* line 58, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}
/* line 64, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled, .button[disabled="disabled"], .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #00823b;
}
/* line 72, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
}
/* line 84, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:hover, .button:focus, .button:visited {
  color: white;
}
/* line 100, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active:before {
  top: -10%;
  height: 120%;
}
/* line 123, ../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 11, ../sass/elements/_buttons.scss */
.button:focus {
  outline: 3px solid #ffbf47;
}

/* line 19, ../sass/elements/_buttons.scss */
.disabled:hover {
  background: #00823b;
}

/* line 23, ../sass/elements/_buttons.scss */
.disabled:focus {
  outline: none;
}

/* line 31, ../sass/elements/_buttons.scss */
.get-started .button {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.66667;
  color: #FFF;
  background-color: #00823b;
  padding: 14px 41px 10px 16px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-pointer-063838cde108768e30b077e5303783fc.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
@media (max-width: 640px) {
  /* line 31, ../sass/elements/_buttons.scss */
  .get-started .button {
    font-size: 20px;
    line-height: 1.2;
  }
}
/* line 47, ../sass/elements/_buttons.scss */
.get-started .button:hover {
  background-color: #006435;
}
/* line 50, ../sass/elements/_buttons.scss */
.get-started .button:focus {
  outline: 3px solid #ffbf47;
}
/* line 53, ../sass/elements/_buttons.scss */
.get-started .destination {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  color: #2e3133;
  display: block;
  margin-top: 7px;
  max-width: 182px;
}
@media (max-width: 640px) {
  /* line 53, ../sass/elements/_buttons.scss */
  .get-started .destination {
    font-size: 12px;
    line-height: 1.25;
  }
}

/* line 64, ../sass/elements/_buttons.scss */
.button-link, details summary {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  background: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #005ea5;
  line-height: 1.25;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top;
}
@media (max-width: 640px) {
  /* line 64, ../sass/elements/_buttons.scss */
  .button-link, details summary {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 78, ../sass/elements/_buttons.scss */
.button-link:hover, details summary:hover {
  color: #2e8aca;
}

/* line 81, ../sass/elements/_buttons.scss */
.button-link:focus, details summary:focus {
  outline: 3px solid #ffbf47;
}

/* line 86, ../sass/elements/_buttons.scss */
details,
summary {
  display: block;
}

/* line 95, ../sass/elements/_buttons.scss */
details summary:focus {
  outline: 3px solid #ffbf47;
}

/* line 4, ../sass/elements/_lists.scss */
menu,
ol,
ul {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
}

/* line 12, ../sass/elements/_lists.scss */
ul,
ol {
  list-style-type: none;
}

/* line 17, ../sass/elements/_lists.scss */
ul li,
ol li {
  margin-bottom: 5px;
}

/* line 23, ../sass/elements/_lists.scss */
.list-bullet {
  list-style-type: disc;
  margin-left: 20px;
}

/* line 29, ../sass/elements/_lists.scss */
.list-number {
  list-style-type: decimal;
  margin-left: 25px;
}

/* line 5, ../sass/elements/_panels.scss */
.panel-indent {
  clear: both;
  border-left: 5px solid #dee0e2;
  padding-top: 10px;
  padding-left: 15px;
  margin: 30px 15px 30px 0;
}
/* line 7, ../sass/elements/_helpers.scss */
.panel-indent:after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 641px) {
  /* line 5, ../sass/elements/_panels.scss */
  .panel-indent {
    padding-left: 30px;
  }
}

/* line 41, ../sass/elements/_colours.scss */
.text-secondary {
  color: #6f777b;
}

/* line 1, ../sass/design-patterns/_alpha-beta.scss */
.phase-banner {
  padding: 8px 0;
  background-color: #d53880;
}
/* line 14, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner p {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 14, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
  .phase-banner p {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 23, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner a, .phase-banner a:link, .phase-banner a:visited, .phase-banner a:active {
  color: #0b0c0c;
}
/* line 27, ../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta.scss */
.phase-banner a:hover {
  color: #0b0c0c;
}

/* line 1, ../sass/design-patterns/_phase-block.scss */
.phase-block {
  display: inline !important;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 9, ../sass/design-patterns/_phase-block.scss */
.phase-block .alpha,
.phase-block .beta {
  display: inline;
  vertical-align: middle;
  float: none;
}
/* line 16, ../sass/design-patterns/_phase-block.scss */
.phase-block .alpha {
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #d53880;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0;
}
@media (max-width: 640px) {
  /* line 16, ../sass/design-patterns/_phase-block.scss */
  .phase-block .alpha {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 20, ../sass/design-patterns/_phase-block.scss */
.phase-block .beta {
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #f47738;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0;
}
@media (max-width: 640px) {
  /* line 20, ../sass/design-patterns/_phase-block.scss */
  .phase-block .beta {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 1, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb {
  max-width: 1020px;
  margin: 0 auto 35px auto;
}

/* line 6, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb ol {
  list-style: none;
  margin: 0 15px;
  padding: 12px 0;
  border-top: 10px solid #2b8cc4;
}
@media (min-width: 641px) {
  /* line 6, ../sass/design-patterns/_breadcrumb.scss */
  .breadcrumb ol {
    margin: 0 30px;
  }
}

/* line 17, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  float: left;
  background: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png) 100% 50% no-repeat;
  margin-right: 8px;
  padding-right: 16px;
}
@media (max-width: 640px) {
  /* line 17, ../sass/design-patterns/_breadcrumb.scss */
  .breadcrumb li {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 24, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb li:last-child {
  background-image: none;
  margin-right: 0;
}

/* line 30, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb a {
  color: #0b0c0c;
}
/* line 33, ../sass/design-patterns/_breadcrumb.scss */
.breadcrumb a:hover {
  color: #2e8aca;
}

/* line 8, ../sass/design-patterns/_addresses.scss */
.form .postcode {
  width: 100px;
}

/* line 9, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth legend {
  margin-bottom: 0;
}
/* line 13, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .hint {
  color: #6f777b;
}
/* line 17, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-group {
  width: 40px;
  float: left;
  clear: none;
  margin-right: 15px;
}
@media (min-width: 641px) {
  /* line 17, ../sass/design-patterns/_date-of-birth.scss */
  .date-of-birth .form-group {
    margin-right: 30px;
  }
}
/* line 27, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-group-year {
  width: 60px;
}
/* line 31, ../sass/design-patterns/_date-of-birth.scss */
.date-of-birth .form-control {
  width: 100%;
}

/* line 7, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator {
  margin-bottom: 30px;
}
/* line 11, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator ol,
.progress-indicator ul {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #bfc1c3;
  list-style-type: none;
  padding-left: 0;
}
/* line 21, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator li {
  color: #6f777b;
  padding: 12px 0 5px 0;
}
/* line 25, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator a {
  text-decoration: none;
}
/* line 29, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator .active {
  border-bottom: 5px solid #0b0c0c;
  color: #0b0c0c;
}
/* line 33, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator .active a {
  color: #0b0c0c;
  text-decoration: none;
}

@media (min-width: 641px) {
  /* line 42, ../sass/design-patterns/_progress-indicator.scss */
  .progress-indicator-horizontal li {
    float: left;
    margin-right: 30px;
  }
}
@media (min-width: 641px) {
  /* line 48, ../sass/design-patterns/_progress-indicator.scss */
  .progress-indicator-horizontal li.active {
    margin-bottom: -5px;
  }
}

@media (min-width: 641px) {
  /* line 56, ../sass/design-patterns/_progress-indicator.scss */
  .progress-indicator-vertical {
    width: 50%;
  }
}
/* line 63, ../sass/design-patterns/_progress-indicator.scss */
.progress-indicator-vertical span {
  float: right;
}

/* line 1, ../sass/design-guide/_guide-styles.scss */
.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  outline: 15px solid #f8f8f8;
  margin: 30px 0 60px 0;
  padding: 15px;
}
@media (min-width: 641px) {
  /* line 1, ../sass/design-guide/_guide-styles.scss */
  .example {
    padding: 30px 15px;
  }
}
/* line 15, ../sass/design-guide/_guide-styles.scss */
.example.example-wide {
  margin-right: 0;
}
@media (min-width: 641px) {
  /* line 15, ../sass/design-guide/_guide-styles.scss */
  .example.example-wide {
    margin-right: -33.33%;
  }
}
/* line 22, ../sass/design-guide/_guide-styles.scss */
.example .highlight {
  font-style: normal;
  color: #0076c0;
}

/* line 28, ../sass/design-guide/_guide-styles.scss */
code {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  background: #dee0e2;
  padding: 0 4px;
}
@media (max-width: 640px) {
  /* line 28, ../sass/design-guide/_guide-styles.scss */
  code {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 34, ../sass/design-guide/_guide-styles.scss */
.example code {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-family: monospace, serif;
  display: block;
  padding: 0 0 15px 0;
  background: none;
}
@media (max-width: 640px) {
  /* line 34, ../sass/design-guide/_guide-styles.scss */
  .example code {
    font-size: 14px;
    line-height: 1.14286;
  }
}
@media (min-width: 641px) {
  /* line 34, ../sass/design-guide/_guide-styles.scss */
  .example code {
    padding: 0 0 30px 0;
  }
}

/* line 45, ../sass/design-guide/_guide-styles.scss */
.example .ribbon {
  background-color: #85994b;
  overflow: hidden;
  position: absolute;
  right: -50px;
  top: 40px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 50px;
}

/* line 60, ../sass/design-guide/_guide-styles.scss */
.example-grid {
  background: white;
  padding: 15px 0 10px 0;
}
@media (min-width: 641px) {
  /* line 60, ../sass/design-guide/_guide-styles.scss */
  .example-grid {
    padding: 25px 0 20px 0;
  }
}

/* line 67, ../sass/design-guide/_guide-styles.scss */
.example-grid p {
  width: 100%;
  background: url("../images/example/grid.png") 0 0 repeat;
  min-height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  text-indent: -99em;
}
@media (min-width: 641px) {
  /* line 67, ../sass/design-guide/_guide-styles.scss */
  .example-grid p {
    min-height: 60px;
  }
}

/* line 79, ../sass/design-guide/_guide-styles.scss */
.example .swatch {
  width: 60px;
  height: 60px;
  display: block;
  margin-bottom: 30px;
}

/* line 85, ../sass/design-guide/_guide-styles.scss */
.example .data p {
  margin-bottom: 0;
}

/* line 89, ../sass/design-guide/_guide-styles.scss */
.example-images {
  padding-left: 0;
  padding-right: 0;
}

/* line 94, ../sass/design-guide/_guide-styles.scss */
.example-images img {
  max-width: 100%;
  vertical-align: top;
}

/* line 99, ../sass/design-guide/_guide-styles.scss */
.page-actions {
  margin: 30px 0;
  list-style-type: none;
  padding-left: 0;
}

/* line 105, ../sass/design-guide/_guide-styles.scss */
.page-actions li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 105, ../sass/design-guide/_guide-styles.scss */
  .page-actions li {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 110, ../sass/design-guide/_guide-styles.scss */
.page-metadata {
  border-top: 5px solid #0b0c0c;
  padding-top: 20px;
}

/* line 115, ../sass/design-guide/_guide-styles.scss */
.page-metadata dt {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 115, ../sass/design-guide/_guide-styles.scss */
  .page-metadata dt {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 119, ../sass/design-guide/_guide-styles.scss */
.page-metadata dd {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  /* line 119, ../sass/design-guide/_guide-styles.scss */
  .page-metadata dd {
    font-size: 20px;
    line-height: 1.2;
  }
}
