.phase-block {
  @extend %contain-floats;
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;

  .alpha {
    @include phase-tag(alpha);
  }
  .beta {
    @include phase-tag(beta);
  }
  .alpha,
  .beta{
    display: inline;
    vertical-align: middle;
    float: none;
  }
}
