// Normalize form elements
form {
  margin: 0;
}

legend {
  padding-left: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
    line-height: normal;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select[size],
textarea {
  font-size: 1em;
  
  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;
  
  // Disable webkit appearance and remove rounded corners
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  min-height: 190px;
  height: auto;
}

// Form group is used to wrap label and input pairs
.form-group {
  margin-bottom: $gutter-half;
  @include media(tablet) {
    margin-bottom: $gutter;
  }
}

// Form labels, or for legends styled to look like labels
.form-label {
  @include core-19;
  display: block;
  margin-bottom: 5px;
}

// By default, form controls are 50% width for desktop and 100% width for mobile
.form-control {
  width: 100%;
  box-sizing: border-box;
  @include media(tablet) {
    width: 50%;
  }
}

// Form control sizes
.form-control-3-4 {
  width: 100%;
  @include media(tablet) {
    width: 75%;
  }
}

.form-control-1-2 {
  width: 100%;
  @include media(tablet) {
    width: 50%;
  }
}

.form-control-1-4 {
  width: 100%;
  @include media(tablet) {
    width: 25%;
  }
}

// Form hints are light grey and sit under a form control
.form-hint {
  @include core-16;
  display: block;
  color: $secondary-text-colour;
  margin-top: 8px;
}

// Form elements

// Labels and checkboxes

// Labels and radio buttons


// Selectable form labels, wrap radio buttons or checkboxes
// .form-label-selectable {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
//   background: #F0F0F0;
//   padding: 14px 14px 12px 14px;
//   border: 1px solid #F0F0F0;
//   margin: 0 16px 0 0;
// }

// .form-label-selectable span,
// .form-label-selectable input {
//   display: inline-block;
//   vertical-align: middle;
// }

// .form-label-selectable input {
//   margin-right: 14px;
// }
// .form-label-selectable input:focus {
//   border: none;
// }