dl,
menu,
ol,
ul {
  margin: 0;
}

dd {
  margin-left: 0;
}

menu,
ol,
ul {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
}

ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}

ul li,
ol li {
  margin-bottom: 5px;
}