.button{
	@include button;
}
.button-secondary{
	@include button($highlight-colour);
}

%link-style,
.link-style {
    display: inline;
    color: $link-colour;
    -webkit-appearance:none;
    background: none;
    border: none;
    text-decoration: underline;
  &:hover {
    color: $link-hover-colour;
    cursor: pointer;
  }
}