.form{ 

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select[size]{
    background-color: $highlight-colour;
    border: 2px inset;
    padding: 2px 0 2px 8px;
    width: 300px;
    @include media("mobile"){
      width: 97%;
      box-sizing: border-box;
    }
  }

  label{
    display: block;
    padding-right: $gutter-third;
    padding-top: 5px;
  }

  select{
    font-size: 14px;
    border: 1px solid $grey-1;
    margin-left: 0;
  }

  .control{
    @include core-19;
    padding: 8px 0;
  }

}