.service-header{
  &.v2 {	
	  header {
	    @extend %contain-floats;
	    padding: $gutter 0;
	    background: #005EA5;
	    margin-bottom: $gutter;
	    .title {
	      color: $white;
	      max-width: 960px; 
	      width: auto; 
	      margin: 0 auto;
	      h1 {
	        @include core-27;
	        font-weight: bold;
	        .phase{
	          font-size: 16px;
	          font-size: 16px;
	          vertical-align: top;
	          font-weight: normal;
	        }
	      }
	    }
	    .account {
	      max-width: 1020px; 
	      width: auto; 
	      margin: 0 auto;
	      ul {
	        list-style-type: none;
	        li{
	          float: right;
	          margin-left: $gutter;
	          margin-top: 5px;
	          a{
	            color: $white;
	            text-decoration: none;
	            @include core-19;
	            &:hover{
	              text-decoration: underline;
	            }
	          }
	        }
	      }
	    }
	  }
	}
	&.v3 {
		max-width: 1020px;
		width: auto;
		margin: 0 auto;
	  header {
	    @extend %contain-floats;
	    padding: $gutter 0;
	    margin-bottom: $gutter;
	    .title {
		  padding-left: $gutter;    
		  @include media(mobile) {
     		padding-left: $gutter-two-thirds;
    		}
	      p{
	      	@include core-19;
	      	color: $secondary-text-colour;
	      }
	      h1 {
	        @include core-48;
	        font-weight: bold;
	        .phase{
	          font-size: 16px;
	          font-size: 16px;
	          vertical-align: top;
	          font-weight: normal;
	        }
	      }
	    }
	    .account {
	      max-width: 1020px; 
	      width: auto; 
	      margin: 0 auto;
	      ul {
	        list-style-type: none;
	        li{
	          float: right;
	          margin-left: $gutter;
	          margin-top: 5px;
	          a{
	            color: $white;
	            text-decoration: none;
	            @include core-19;
	            &:hover{
	              text-decoration: underline;
	            }
	          }
	        }
	      }
	    }
	  }
	}
}