---
layout: govuk_template
service-title: "Design patterns"
header-class: class="with-proposition"
has-proposition: true
---

{% include /layouts/_breadcrumb.html %}

<main id="wrapper" role="main">
  <div id="content">

    <div class="grid-wrapper">
      <div class="grid">
        <div class="inner-block">

          <div class="text">
            <h1 class="heading-48">
              <span class="heading-27">{{ page.document-type }}</span>
              {{ page.title }} {% include _phase-block.html %}
            </h1>
          </div>

        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-3-4">
        <div class="inner-block">

          {% if page.text-wrapper %}
          <div class="{{ page.text-wrapper }}">
          {% endif %}

          {{ content }}

          {% if page.text-wrapper %}
          </div>
          {% endif %}

          <ul class="page-actions">
            {% if page.discuss-url %}
            <li><a rel="external" href="{{ page.discuss-url }}">Discuss this pattern</a></li>
            {% endif %}
            {% if page.sass-url %}
            <li><a rel="external" href="{{ page.sass-url }}">Get the code</a></li>
            {% endif %}
          </ul>

        </div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">

          {% if page.published %}
          <dl class="page-metadata">
            <dt>First published:</dt>
            <dd>{{ page.published }}</dd>
            {% if page.updated %}
            <dt>Last updated:</dt>
            <dd>{{ page.updated }}</dd>
            {% endif %}
          </dl>
          {% endif %}

          <ul class="page-actions">
            {% if page.discuss-url %}
            <li><a rel="external" href="{{ page.discuss-url }}">Discuss this pattern</a></li>
            {% endif %}
            {% if page.sass-url %}<li><a rel="external" href="{{ page.sass-url }}">Get the code</a></li>{% endif %}
          </ul>

        </div>
      </div>
    </div>
  </div>
</main>
