---
layout: default
layout-class: 'pattern'
---

<div id="global-breadcrumb" class="breadcrumb">
  <nav role="navigation">
    <ol class="group">   
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="{{site.baseurl}}/patterns">Design patterns</a></li>
    </ol>
  </nav>
</div>

<article>
  <header class="block">
    <div class="inner-block floated-children">
      <div class="title">
        <p>Design pattern</p>
        <h1>{{ page.title }} {% include _phase-block.html %}</h1>
      </div>
    </div>
  </header>
  <div class="block content">
    <div class="inner-block">
      {{ content }}
    </div>
  </div>
</article>
