---
layout: default
layout-class: 'pattern'
---

<article>
  <header class="block">
    <div class="inner-block floated-children">
      <div class="title">
        <p>Design pattern</p>
        <h1>{{ page.title }} {% include _phase-block.html %}</h1>
      </div>
    </div>
  </header>
  <!--
  <nav class="block navigation">
    <div class="inner-block">
      <h2>Contents</h2>
      {{ page.content | toc_list }}
    </div>
  </nav>
-->
  <div class="block content">
    <div class="inner-block">
      {{ content }}
    </div>
  </div>
</article>
