---
layout: default
layout-class: 'pattern'
---

<div id="global-breadcrumb" class="breadcrumb">
  <nav role="navigation">
    <ol class="group">   
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="{{ site.baseurl }}/patterns">Design patterns</a></li>
    </ol>
  </nav>
</div>

<article>
  <header class="block">
    <div class="inner-block floated-children">
      <div class="title">
        <p>Design pattern</p>
        <h1>{{ page.title }} {% include _phase-block.html %}</h1>
      </div>
    </div>
  </header>
  <div class="block content">
    <div class="inner-block">
      {{ content }}
    </div>
  </div>
  <div class="related">

    <dl class="metadata">
      {% if page.published %}
      <dt>Published:</dt>
      <dd>{{ page.published }}</dd>
      {% endif %}

      {% if page.updated %}
      <dt>Updated:</dt>
      <dd>{{ page.updated }}</dd>
      {% endif %}
    </dl>


    <ul class="actions">
      {% if page.discuss-url %}<li><a href="{{ page.discuss-url }}">Discuss this pattern</a></li>{% endif %}
      <li><a href="{{ site.baseurl }}alerts{{ page.url }}">Follow this pattern</a></li>
    </ul>
  </div>
</article>