---
layout: default
service-title: "Design patterns"
header-class: class="with-proposition"
has-proposition: true
---

<div class="breadcrumb">
  <nav role="navigation">
    <ol>
      <li><a href="https://www.gov.uk/service-manual">Home</a></li>
      <li><a href="{{ site.baseurl }}/">New design guides</a></li>
    </ol>
  </nav>
</div>

<main class="main gov-uk design-guide">
  
  <div class="grid-wrapper">
    <div class="grid">
      <div class="inner-block">
        
        <h1 class="heading-48">
          <span class="heading-27">{{ page.document-type }}</span>
          {{ page.title }} {% include _phase-block.html %}
        </h1>
        
      </div>
    </div>
  </div>
  
  <div class="grid-wrapper">
    <div class="grid grid-3-4">
      <div class="inner-block">
        
        {{ content }}

        
        <ul class="page-actions">
          {% if page.discuss-url %}<li><a rel="external" href="{{ page.discuss-url }}">Discuss this pattern</a></li>{% endif %}
          {% if page.sass-url %}<li><a rel="external" href="{{ page.sass-url }}">Get the code</a></li>{% endif %}
        </ul>
        
      </div>
    </div>
    <div class="grid grid-1-4">
      <div class="inner-block">
        
        {% if page.published %}
        <dl class="page-metadata">
          <dt>First published:</dt>
          <dd>{{ page.published }}</dd>
          {% if page.updated %}
          <dt>Last updated:</dt>
          <dd>{{ page.updated }}</dd>
          {% endif %}
        </dl>
        {% endif %}  
        
        
        <ul class="page-actions">
          {% if page.discuss-url %}<li><a rel="external" href="{{ page.discuss-url }}">Discuss this pattern</a></li>{% endif %}
          {% if page.sass-url %}<li><a rel="external" href="{{ page.sass-url }}">Get the code</a></li>{% endif %}
        </ul>
        
        
      </div>
    </div>
  </div><!-- /.grid-wrapper -->
  
</main><!-- /.main -->