---
layout: default
service-title: "Design patterns"
header-class: class="with-proposition"
has-proposition: true
---

<div id="global-breadcrumb" class="breadcrumb">
  <nav role="navigation">
    <ol class="group">   
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="{{ site.baseurl }}/">Guides</a></li>
    </ol>
  </nav>
</div>

<main class="main gov-uk design-guide">
  
  <div class="grid-wrapper">
    <div class="grid">
      <div class="inner-block">
        <h1>
          <span>{{ page.document-type }}</span>
          {{ page.title }} {% include _phase-block.html %}
        </h1>
      </div>
    </div>
  </div>
  
  <div class="grid-wrapper">
    <div class="grid grid-3-4">
      <div class="inner-block">
        
        <div class="text">
          
          <h3 id="whats-the-problem">What’s the problem?</h3>

          <p>As people interact with a multi-step transaction they can sometimes become disorientated or think that they’ve finished when they haven’t. This can cause them to drop out of the transaction before they’ve completed it.</p>

          <h3 id="what-can-i-do-about-it">What can I do about it?</h3>

          <p>A progress indicator addresses this issue by telling users how many steps they’ve completed and how many more there are to go. More detailed progress indicators give an overview of each step and may also allow users to navigate between the steps.</p>

          <h3 id="when-should-i-use-one">When should I use one?</h3>

          <p>Only implement a progress indicator if you’ve observed the user needs described above. Before you implement one, make sure you’ve made the transaction as simple and straightforward as you can. If you’ve done this and users are still struggling, then consider one of the following approaches (the Sass code for thes examples is <a href="https://github.com/alphagov/design-patterns/blob/gh-pages/patterns/assets/sass/helpers/_progress-indicator.scss">available on GitHub</a>.</p>
          
        </div>
        
      </div>
    </div>
    <div class="grid grid-1-4">
      <div class="inner-block">

        {% if page.published %}
        <dl class="page-metadata">
          <dt>First published:</dt>
          <dd>{{ page.published }}</dd>
          {% if page.updated %}
          <dt>Last updated:</dt>
          <dd>{{ page.updated }}</dd>
          {% endif %}
        </dl>
        {% endif %}  

        {% if page.discuss-url %}
        <ul class="page-actions">
          <li><a href="{{ page.discuss-url }}">Discuss this pattern</a></li>
        </ul>
        {% endif %}

      </div>
    </div>
  </div>
  
  <div class="grid-wrapper">
    <div class="grid">
      <div class="inner-wrapper">
        {{ content }}
      </div>
    </div>
  </div>
  
</main><!-- /.main -->