<!-- We're using styles.css here to avoid any confusion with the Design Patterns base.css, these are only for the example template -->

<!--[if gt IE 8]><!--><link href="{{ site.baseurl}}/patterns/assets/stylesheets/styles.css"  rel="stylesheet" type="text/css"><!--<![endif]-->
<!--[if IE 6]><link href="{{ site.baseurl}}/patterns/assets/stylesheets/styles-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="{{ site.baseurl}}/patterns/assets/stylesheets/styles-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{ site.baseurl}}/patterns/assets/stylesheets/styles-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->

