<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
    <span id="proposition-name"><a href="/patterns">Pattern library</a> <span class="alpha">Alpha</span></span>
    <!--
    <ul id="proposition-links">
      <li><a href="/" class="">Nav links</a></li>
      <li><a href="/" class="">Nav links</a></li>
      <li><a href="/" class="">Nav links</a></li>
      <li><a href="/" class="">Nav links</a></li>
    </ul>
  -->
    </nav>
  </div>
</div>
