// Contents
// 1. Typography
// 2. Grid layout
// 3. Spacing
// 4. Buttons


// Scoped text styles
// Let's scope with .gov-uk for now, we can change it!

.gov-uk {
   
   // Typography
   
   // Bump up the default font size to 19px
   @include core-19;
   -webkit-font-smoothing: antialiased;
    
   // Test setting maximum content width
   //* {
   //     max-width: 75ex;
   //   }
   
   // Set common typographic styles
   h1,
   .heading-48 {
     @include bold-48();
     margin-top: $gutter-half;
     margin-bottom: $gutter;
     @include media(tablet) {
       margin-top: $gutter;
       margin-bottom: $gutter*2;
     }
     span,
     .document-type {
       display: block;
       @include core-27();
       color: $secondary-text-colour;
     }
   }
   
   h2,
   .heading-24 {
     @include bold-24();
     margin-top: 25px;
     margin-bottom: 10px;
     @include media(tablet) {
       margin-top: 45px;
       margin-bottom: 20px;
     }

   }
   
   h3,
   .heading-19 {
     @include bold-19();
     margin-top: 10px;
     margin-bottom: 5px;
     @include media(tablet) {
       margin-top: 20px;
       margin-bottom: 10px;
     }
   }
   
   p, 
   ul {
     margin-top: 5px;
     margin-bottom: 20px;
   }
   
   ul {
     padding-left: 20px;
   }
   ul li {
     list-style-type: disc;
   }
   li {
      margin-bottom: 5px;
  }
    
   // Data font sizes
   .data-80 {
     @include bold-80;
   }
   
   .data-48 {
     @include bold-48;
   }
   
   .data p {
     @include bold-16;
   }
   
   // Add right margin to buttons
   .button {
      margin-right: $gutter-half;
   }
   
   // Code
   code {
     @include core-16;
     padding: 0 5px;
     background: $grey-3;
   }
   
   // Add helper classes for spacing
   .gutter {
     padding-bottom: $gutter;
   }
   .gutter-double {
     padding-bottom: $gutter*2;
   }
   
   // Buttons
   .button {
     @include button ($green);
   }
   
   .button-secondary {
     @include button ($grey-3);
   }
   
   .button-warning {
     @include button ($red);
   }
   
}

// Grid layout
 
.grid-wrapper {
  @extend %contain-floats;
  max-width: 1020px;
  margin: 0 auto;
}

.grid {
  float: left;
}

.grid .inner-block {
  padding: 0 $gutter-half;
  @include media(tablet) {
    padding: 0 $gutter;
  }
}

.grid-1-4 {
  width: 100%;
  @include media(tablet) {
    width: 25%;
  }
}

.grid-1-3 {
  width: 100%;
  @include media(tablet) {
    width: 33.333333333%;
  }
}

.grid-1-2 {
  width: 100%;
  @include media(tablet) {
    width: 50%;
  }
}

.grid-2-3 {
  width: 100%;
  @include media(tablet) {
    width: 66.666666667%;
  }
}

.grid-3-4 {
  width: 100%;
  @include media(tablet) {
    width: 75%;
  }
}


// Main content alignment
.main {
  padding-bottom: $gutter*3;
}


// Styles used to highlight examples only
.highlight {
  color: $hm-government;
  font-style: normal;
}

