// Styles used only for example templates

code,
pre {
  @include core-16;
  font-family: monospace, serif;
  padding: 0 5px;
  background: $grey-3;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.highlight {
  color: $hm-government;
  font-style: normal;
}

// Let's see how the grid works

.example-highlight-grid {
  
  .grid-wrapper {
    background:  $grey-2;
  }
  
  .grid {
    background: $grey-4;
  }
  
  .grid .inner-block * {
    background: $grey-3;
  }
  
}